---
title: Wynajem namiotów i hal namiotowych

keywords: wynajem stołów Warszawa, wypożyczalnia stołów Warszawa, stoły na wynajem, stoły cateringowe, stoły bankietowe, stół wynajem, wynajem stołów cennik, 

description: Wynajem stołów Warszawa. Wynajmujemy stoły cateringowe, biesiadne, weselne, na urodziny i bankiety. 
---



    <strong> <h1 style="display:inline; font-size:20px;">Namioty i hale namiotowe   </h1></strong>
<br>
<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">


    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/3x3/thumbs/namiot_ekspresowy_3x3_1.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Namiot ekspresowy 3x3', '/wynajem_namiotow/wynajem_namiotow_ekspresowych.html' %>

            </h3>

            <p>Namiot ekspresowy 3x3
<p>
<p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/3x6/thumbs/namiot_ekspresowy_3x6_12.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Namiot ekspresowy 3x6        ', '/wynajem_namiotow/wynajem_namiotow_expresowych.html' %>

            </h3>
<p> 
            <p>Namiot ekspresowy 3x6     
             

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/4x8/thumbs/wynajem_namiotow_4x8_01.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Namiot ekspresowy 4x8      ', '/wynajem_namiotow/wynajem_namiotow_pop-up.html' %>

            </h3>
<p> 
            <p>Namiot ekspresowy 4x8     
             

          </div>
        </div>
      </div>
       <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/5x8/thumbs/namiot_cateringowy_5x8_1.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Namiot cateringowy 5x8       ', '/wynajem_namiotow_warszawa/namioty_5x8.html' %>

            </h3>
<p> 
            <p>Namiot cateringowy 5x8     
             

          </div>
        </div>
      </div>

       <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/5x8/thumbs/namiot_cateringowy_5x8_17.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Namiot cateringowy 5x10       ', '/wynajem_namiotow_warszawa/namioty_5x10.html' %>

            </h3>
<p> 
            <p>Namiot cateringowy 5x10     
             

          </div>
        </div>
      </div>

       <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/6x12/thumbs/6x12_4.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Namiot cateringowy 6x12        ', '/wynajem_namiotow_warszawa/namioty_6x12.html' %>

            </h3>
<p> 
            <p>Namiot cateringowy 6x12 
             

          </div>
        </div>
      </div>

       <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/namiot_gwiazda/thumbs/gwiazda.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Namiot Gwiazda        ', '/wynajem_namiotow_warszawa/namiot_typu_gwiazda.html' %>

            </h3>
<p> 
            <p>Namiot typu Gwiazda 12m
             

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/hala/thumbs/IMG_4097.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Hala namiotowa 10       ', '/wynajem_hal_namiotowych/wynajem_hal_namiotowych_warszawa.html' %>

            </h3>
<p> 
            <p>Hala namiotowa 10 m szerokości    
             

          </div>
        </div>
      </div>

 <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/hala/thumbs/wynajem_hal_namiotowych_12.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Hala namiotowa 12         ', '/wynajem_hal_namiotowych/wynajem_hal_namiotowych_warszawa.html' %>

            </h3>
<p> 
            <p>Hala namiotowa 12 m szerokości 
             

          </div>
        </div>
      </div>

       <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/ns_64/thumbs/namiot_NS-64_6.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Namiot wojskowy NS-64        ', '/wynajem_namiotow_warszawa/namioty_ns_64.html' %>

            </h3>
<p> 
            <p>Namiot wojskowy
             

          </div>
        </div>
      </div>

       <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/harcerski/thumbs/namiot_harcerski_6.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Namiot harcerski        ', '/wynajem_namiotow_warszawa/namioty_harcerskie.html' %>

            </h3>
<p> 
            <p>Namiot harcerski
             

          </div>
        </div>
      </div>

      <br>
   

   

    


      </tbody>
    </table>
  </div>

</div>





