---
title: Wynajem stołów

keywords: wynajem stołów Warszawa, wypożyczalnia stołów Warszawa, stoły na wynajem, stoły cateringowe, stoły bankietowe, stół wynajem, wynajem stołów cennik, 

description: Wynajem stołów Warszawa. Wynajmujemy stoły cateringowe, biesiadne, weselne, na urodziny i bankiety. 
---



    <strong> <h1 style="display:inline; font-size:20px;">Meble eventowe   </h1></strong>
<br>
<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">


    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/warnik/thumbs/warnik_wynajem.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Puff', '/oferta/wynajem_wyposazenia_eventowego/wynajem_grilla_gazowego.html' %>

            </h3>

            <p>Wynajem puff
<p>
<p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
           <%= image_tag 'galeria/wyposazenie_dodatkowe/warnik/thumbs/warnik_wynajem.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Kanapa eko-wood        ', '/oferta/wynajem_wyposazenia_eventowego/grill_weglowy.html' %>

            </h3>
<p> 
            <p>Wynajem kanap z palet       
             

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/warnik/thumbs/warnik_wynajem.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Fotel eko-wood       ', '/oferta/wynajem_wyposazenia_eventowego/wynajem_warnikow.html' %>

            </h3>
<p> 
            <p>Wynajem foteli z palet      
             

          </div>
        </div>
      </div>
       <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/lustro/thumbs/lustro_02.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Bar eko-wood       ', '/oferta/wynajem_wyposazenia_eventowego/wynajem_lustra.html' %>
            </h3>
<p> 
            <p>Wynajem lady barowej      
             

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/wata_cukrowa/thumbs/maszyna_do_waty_cukrowej.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Siedzisko eko-wood       ', '/oferta/wynajem_wyposazenia_eventowego/wata_cukrowa.html' %>

            </h3>
<p> 
            <p>Wynajem siedziska eko-wood      
             

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/wata_cukrowa/thumbs/popcorn_wynajem.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Leżak eko-wood       ', '/oferta/wynajem_wyposazenia_eventowego/popcorn.html' %>

            </h3>
<p> 
            <p>Wynajem leżaka eko-wood     
             

          </div>
        </div>
      </div>
      <br>
   

   

    


      </tbody>
    </table>
  </div>

</div>





