---
title: Wynajem łóżek i materacy wojskowych
keywords: wynajem łóżek i materacy wojskowych, wypożyczalnia łóżek i materacy wojskowych, łóżka polowe wynajem, wynajmę łóżka polowe, materac wojskowy, łóżko polowe, łóżko typu kanadyjka,
description: Wynajem namiotów harcerskich i wojskowych Warszawa. W ofercie namioty, łóżka, materace i wiele wiele innych.
---



<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_oferta' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
     <strong><h1 style="display:inline; font-size:20px;"> Wynajem łóżek polowych typu kanadyjka i materacy wojskowych </h1></strong> 
<br>
<br>
    <p>
      <h2 style="display:inline; font-size:16px;">Łóżka wojskowe polowe</h2> typu kanadyjka doskonale sprawdzają się podczas obozów, czy też wyjazdów pod namiot. Mogą być wypożyczane także w celu przenocowania gości po imprezie okolicznościowej. Ich wymiar to ok 80cm x 200cm. <br><strong>Wynajem łóżek wojskowych polowych typu kanadyjka</strong> może być świadczony także z usługą transportu i montażu. W ofercie posiadamy łóżka wojskowe metalowe oraz drewniane. Posiadamy bardzo dużą ilość łóżek polowych.
    </p>
    <p>
         <strong><h2 style="display:inline; font-size:16px;">Materace wojskowe</h2></strong> wyprodukowane dla Wojska Polskiego z najwyższej jakości materiałów, doskonale sprawdzają się podczas obozów, czy też wyjazdów pod namiot. Mogą być wypożyczane także w celu przenocowania gości po imprezie okolicznościowej. Materace od spodu są gumowane, co zabezpiecza przed wilgocią. Ich wymiar to ok 75cm x 180cm.<br> <strong>Wynajem materacy wojskowych </strong>możliwy jest z usługą transportu i rozłożenia. W ofercie posiadamy bardzo duże ilości materacy wojskowych.
    </p>
    <%= partial 'galeria/galeria_lozka_materace' %>

    Zobacz także:<br>
    <a href="http://turbonamioty.pl/cennik.html" rel="publisher"><strong><h2 style="display:inline; font-size:16px;">Wynajem łóżek polowych i materacy wojskowych - Cennik </h2></strong></a>
  </div>

</div>





