---
title: Wynajem parasoli grzewczych i nagrzewnic

keywords: wynajem parasoli grzewczych Warszawa, wypożyczalnia parasoli grzewczych Warszawa, ogrzewanie do namiotu, promienniki grzewcze, piecyk grzewczy na gas, parasol grzewczy wynajem, wynajem nagrzewnic do namiotu, wynajem grzybków grzewczych, grzybki na gas Warszawa

description: Wynajem parasoli grzewczych Warszawa. Wynajmujemy parasole grzewcze, nagrzewnice, promienniki grzewcze gazowe, grzybki grzewcze. 
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_oferta' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <strong> <h1 style="display:inline; font-size:20px;">Wypożyczalnia parasoli grzewczych do namiotów</h1></strong>
<br>
<br>
   <p>
     Oferujemy wynajem parasoli grzewczych gazowych namiotowych znanych także pod nazwami takimi jak grzybki grzewcze czy promienniki.
     Parasole grzewcze które wynajmujemy są najwyższej jakości, o doskonałych parametrach grzewczych, przy zachowaniu maksymalnej wydajności. <br>
<br>
     SPECYFIKACJA TECHNICZNA:<br>
     <br>
- czujnik temperatury "overheat"<br>
- wysokość całkowita 2,3m - tak wysoki parasol daje dużo większy zasięg grzania<br>
- średnica reflektora ca. 80 cm<br>
- średnica podstawy ca. 55cm<br>
- parasol grzewczy o mocy palnika odpowiadającej 14 kW<br>  
- rodzaj materiału: polerowana stal szlachetna malowana proszkowo<br>
- waga całkowita: 22 kg<br>
- reflektor aluminiowy<br>
- automatyczne zabezpieczenie antywypływowe gazu po przechyleniu ze stabilnej pozycji pionowej
- moc grzewcza regulowana: 13kW, palnik o mocy odpowiadającej 14 kW<br>
- specjalny system overheat (zmniejszenie zużycia o 30%, zmniejszenie emisji CO2 o 30%)<br>
- promień grzewczy około 5,0m<br>
- rodzaj gazu: płynny propanbutan<br>
- czas zasilania jednej butli: 12-24 h<br>
- powierzchnia grzania: 25m3<br>
- w komplecie reduktor do podłączenia do butli gazowej<br>
<br>
<h2 style="display:inline; font-size:20px;">Parasole grzewcze namiotowe</h2>idealnie nadają się na:
   </p>
    <ul>


    <li>imprezy plenerowe</li>
    <li>imprezy na przydomowym tarasie</li>
    <li>do ogródków restauracyjnych</li>
    <li>do ogrzewania namiotów</li>
    <li>do osuszania pomieszczeń</li>
    <li>wszędzie tam, gdzie zależy nam na efektywnym ogrzaniu przestrzeni/li>
    </ul>
    <p>
    <h2 style="display:inline; font-size:18px;"> Koszt wynajmu parasoli grzewczych do namiotu</h2> wynosi 120 PLN/szt w przypadku wynajmu bez butli.<br> Koszt wynajmu wraz z butlą 11 kg wynosi 175 PLN/szt.<br>
    Cena za wynajem na maksymalnie 3 dni. <br>
    Podane ceny są cenami netto. <br>
    <br>
    Uwaga! Jeżeli uda Ci się odnaleźć tańszą wypożyczalnię parasoli grzewczych o takich samych parametrach, stanie technicznym oraz jakości, daj nam znać.<br> 
    Przygotujemy specjalnie dla Ciebie ofertę o 10% niższą niż u konkurencji.
    </p>

    <%= partial 'galeria/galeria_nagrzewnice' %>

    


      </tbody>
    </table>
  </div>

</div>





