---
title: Wypożyczalnia namiotów Turbonamioty

keywords: wynajem nagłośnienia, wypożyczalnia nagłośnienia, mikrofon wynajem, mikrofon na imprezę koncertowe wynajem, wynajem mikrofonów cena, mikrofonny wynajem warszawa, mikrofon wynajmę, wynajem mikrofonów warszawa, głośniki cena warszawa

description: Wypożyczalnia namiotów Warszawa- wynajem mikrofonów, mikrofony na każdą okazję.
---

<div class="row">
  <div class="col-sm-12">
    <p>
    </p>
<p class="lead"> <strong><h2 style="display:inline; font-size:22px;">Wynajem nagłośnienia </h2></strong></p>
      <a name="co_nas_wyroznia">
    
      </a>
       <div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
      <%= image_tag 'galeria/wyposazenie_dodatkowe/naglosnienie/mikrofon_01.jpg', class: 'pull-right img-thumbnail' %>
      <p class="lead"> <strong><h2 style="display:inline; font-size:22px;">Wynajem mikrofonów </h2></strong></p>
    
  
  
      <p> Wynajem mikrofonów.</p>
<p>

Power Dynamics PD782 - 2x 8 kanałowy, profesjonalny, bezprzewodowy system UHF z dwoma, doręcznymi mikrofonami, odbiornikiem i solidną walizką zapewniającą bezpieczny transport. Dzięki  wyświetlaczowi LCD znajdującemu się na rączce mikrofonu, zmiana kanałów transmisji jest prosta i czytelna. Mikrofony działają w częstotliwościach 863-865 MHz i idealnie sprawdzą się na scenie, podczas prezentacji, wykładów, KARAOKE oraz przy nagrywaniu wokalu.<br>
<p>
Specyfikacja techniczna:<p>
<p>
2x 8-kanałowy system UHF<p>
Wyświetlacz LCD na mikrofonach<p>
Mocowane anteny na tylnym panelu odbiornika<p>
Wskaźniki RF/AF<p>
Zbalansowane wyjście XLR na każdy kanał i ¼”  dla wyjścia miksera<p>
Częstotliwość pracy: 863-865MHz<p>
Moc: AC100~240V 50-60Hz<p>
Wyjście RF: <10mW<p>
Odległość dynamiczna: >85dB<p>
THD: <0.5%<p>
Stosunek sygnału do szumu: >90dB<p>
Bateria: 2x AA 1.5V (uchwyt)<p>
Wymiary odbiornika: 215 x 170 x 50mm<p>
Wymiary mikrofonów: 230 x ø 50mm<p>
Waga odbiornika: 700gr<p>
Waga mikrofonu: 215gr<p>

<p>
<strong>Koszt wynajmu mikrofonu to 55 PLN netto.</strong>  </p>
       



  </div>
</div>




