---
title: Wypożyczalnia namiotów Turbonamioty

keywords: wynajem nagłośnienia, wypożyczalnia nagłośnienia, głośniki wynajem, głośniki na imprezę koncertowe wynajem, wynajem głośników cena, nagłośnienie wynajem warszawa, głośniki wynajmę, wynajem głośników warszawa, głośniki cena warszawa

description: Wypożyczalnia namiotów Warszawa- wynajem nagłośnienia, głośniki na każdą okazję.
---

<div class="row">
  <div class="col-sm-12">
    <p>
    </p>
<p class="lead"> <strong><h2 style="display:inline; font-size:22px;">Wynajem nagłośnienia </h2></strong></p>
      <a name="co_nas_wyroznia">
    
      </a>
       <div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
      <%= image_tag 'galeria/wyposazenie_dodatkowe/naglosnienie/ibiza_01.jpg', class: 'pull-right img-thumbnail' %>
      <p class="lead"> <strong><h2 style="display:inline; font-size:18px;">ZESTAW NAGŁOŚNIENIOWY IBIZA CUBE 1512 </h2></strong></p>
    
   
<P>
Kompletny estradowy aktywny zestaw nagłośnieniowy 2+1 CUBE1512 o mocy wyjściowej 800W, oparty na aktywnym subwooferze i dwóch satelitach, w komplecie z kablami głośnikowymi i statywami kolumnowymi.<br>
<P>
Zestaw składa się z aktywnego subwoofera 15 - wyposażonego w bi-wzmacniacz - oraz zasilanych przez niego dwóch satelit (dwudrożne kolumny estradowe o mocy 300W RMS każda - zbudowane na bazie głośnika 12-calowego). Całość uzupełniają statywy kolumnowe pod satelity. Zestaw idealny do zastosowań mobilnych oraz do obsługi średniej wielkości lokali, klubów, barów, sal weselnych.<br>
<p>
 
 <strong> Koszt wynajmu zestawu wynosi 350 PLN netto.</strong>
<p>
Zestaw CUBE-1512 jest w pełni funkcjonalny i gotowy do użycia. W skład zestawu wchodzą następujące elementy:
<p>
- Subwoofer aktywny (1 szt.)<p>

- Kolumny estradowe - satelity (2 szt.)<p>

- Statywy kolumnowe (2 szt.)<p>

- Torba do przenoszenia statywów (1 szt.)<p>

- Kable speakon-speakon o długości 5m każdy (2 szt.)<p>
<p>

Specyfikacja:<p>
<p>
- 15 / 38cm AKTYWNY SUBWOOFER o mocy 400W RMS (800W mocy max.)<p>

- 2x GŁOŚNIK SATELITARNY 12 / 30cm, dwudrożny, 600W (300W RMS)<p>

- 2x statyw kolumnowy regulowany (+ torba do przenoszenia)<p>

- 2x kabel głośnikowy Speakon 5m<p>

- 2-pasmowy EQ (bass i wysokie tony)<p>

- Regulacja głośności: oddzielna dla subwoofera i głośników satelitarnych<p>

- Pasmo przenoszenia subwoofera: 20Hz-250Hz<p>

- Skuteczność: 101dB<p>

- Max. skuteczność: 127dB<p>

- Moc wyjściowa: 800W (400W RMS)<p>

- Zasilanie: 220V-240V/50HZ<p>
<p>

  </div>
</div>




