---
title: Wypożyczalnia namiotów Turbonamioty

keywords: wynajem nagłośnienia, wypożyczalnia nagłośnienia, mikrofon wynajem, mikrofon na imprezę koncertowe wynajem, wynajem mikrofonów cena, mikrofonny wynajem warszawa, mikrofon wynajmę, wynajem mikrofonów warszawa, głośniki cena warszawa

description: Wypożyczalnia namiotów Warszawa- wynajem mikrofonów, mikrofony na każdą okazję.
---

<div class="row">
  <div class="col-sm-12">
    <p>
    </p>
<p class="lead"> <strong><h2 style="display:inline; font-size:22px;">Wynajem nagłośnienia </h2></strong></p>
      <a name="co_nas_wyroznia">
    
      </a>
       <div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
      <%= image_tag 'galeria/wyposazenie_dodatkowe/naglosnienie/mikrofon_naglowny_01.jpg', class: 'pull-right img-thumbnail' %>
      <p class="lead"> <strong><h2 style="display:inline; font-size:22px;">Wynajem mikrofonów nagłownych </h2></strong></p>
    

<p>

SkyTec STWM711H jest zestawem z mikrofonem nagłownym, odbiornikiem o wysokiej wrażliwości oraz bodypackiem. Technika VHF zapewnia dobrą jakość dźwięku oraz niezawodną pracę. Sprawdzi się na scenie, dla wokalistów, do prezentacji, karaoke, w domu etc.<p>
INFORMACJE OGÓLNE:
<p>
Nadajnik nadwozia z zestawem słuchawkowym<p>
Odbiornik wysokiej czułości<p>
Hi S / N stosunek i niskie T.H.D.<p>
Anteny przednie montowane<p>
Wskaźniki RF / AF<p>
Gniazda wyjściowe XLR / Aux (6.35mm)<p>
DANE TECHNICZNE:<p>
<p>
Częstotliwość robocza 200.175MHz<p>
Wyjście RF <10mW<p>
Zakres dynamiczny> 100dB<p>
Pasmo przenoszenia 40Hz - 20kHz<p>
Stabilność częstotliwości <0,005%<p>
Czułość 60dB 12dbU<p>
THD <0,5%<p>
Stosunek sygnału do szumu > 100dB<p>
Odchylenie 15 kHz<p>
Emisja fałszywą> 45dB Fala nośna<p>
Bateria 2x AA<p>
Odbiornik: wymiary 126 x 180 x 42 mm<p>
Bodypack: wymiary 101 x 64 x 30mm<p>
Waga 0,8 kg<p>
<p>

<strong>Koszt wynajmu mikrofonu wynosi 65 PLN netto/szt/dzień.  </p>
       



  </div>
</div>




