---
title: Wypożyczalnia namiotów Turbonamioty

keywords: wynajem nagłośnienia, wypożyczalnia nagłośnienia, głośniki wynajem, głośniki na imprezę koncertowe wynajem, wynajem głośników cena, nagłośnienie wynajem warszawa, głośniki wynajmę, wynajem głośników warszawa, głośniki cena warszawa

description: Wypożyczalnia namiotów Warszawa- wynajem nagłośnienia, głośniki na każdą okazję.
---

<div class="row">
  <div class="col-sm-12">
    <p>
    </p>
<p class="lead"> <strong><h2 style="display:inline; font-size:22px;">Wynajem nagłośnienia </h2></strong></p>
      <a name="co_nas_wyroznia">
    
      </a>
       <div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
      <%= image_tag 'galeria/wyposazenie_dodatkowe/naglosnienie/behringer_01.jpg', class: 'pull-right img-thumbnail' %>
      <p class="lead"> <strong><h2 style="display:inline; font-size:22px;">Wyynajem zestawu Behringer </h2></strong></p>
    
    
  
<p>


Kompaktowy, przenośny 8-kanałowy, zestaw nagłośnieniowy 500W z odtwarzaczem MP3 i opcją  systemu bezprzewodowego.<p>
Idealny na imprezy prywatne, urodziny, imprezy andrzejkowe, na sylwestra, mniejsze imprezy firmowe i konferencje.

 <p>

Dane techniczne:
<p>
-Kompaktowy, 8-kanałowy system nagłośnieniowy z dwoma głośnikami i odłączanym powermikserem 500W <br>
-Ogromna moc, niesamowita jakość brzmienia i wyjątkowo niska waga<br>
-Mikser może być używany zarówno zamontowany w głośniku zestawu lub jako wolnostojący, zapewniając bardziej elastyczną obsługę zestawu<br>
-Wbudowany wysokowydajny odtwarzacz MP3 do odtwarzania plików audio z zewnętrznej pamięci USB<br>
-Studyjnej jakości pogłos stereo wzbogacający dodatkowo brzmienie zestawu<br>
-Opcja podłączenia wysokiej jakości cyfrowego systemu bezprzewodowego Behringer (brak w zestawie)<br>
-Funkcja Voice-Over-Priority pozwalająca wyciszać muzykę, gdy używane są mikrofony<br>
-Niezwykle wydajne - zapewniające rewelacyjną jakość brzmienia - przetworniki:  8" niskotonowe'' i 1'' wysokotonowe <br>
-8-kanałowy mikser z 4 kanałami mikrofonowo-liniowymi i 2 kanałami stereo<br>
-4 wysokiej jakości przedwzmacniacze mikrofonowe z przełączanym zasilaniem Phantom +48 V dla mikrofonów pojemnościowych<br>
-Skuteczna i bardzo muzyczna dwuzakresowa korekcja barwy na wszystkich kanałach<br>
-Przełącznik muzyka / mowa do ustawiania ogólnej korekcji systemu<br>
-Auto limiter zapobiegający uszkodzeniom wzmacniacza i głośników przez przeciążenia<br>
-Schowek na mikrofony, kable i inne akcesoria (2 kable głośnikowe 6m, kabel mikrofonowy i mikrofon dynamiczny Behringer XM1800S z uchwytem mikrofonowym w zestawie)<br>
-Zintegrowane gniazda 35 mm do statywów <br>
-Zasilacz impulsowy zapewniający maksymalną elastyczność użytkowania bez zakłóceń audio oraz niski pobór mocy i oszczędność energii<br>
-Wysokiej jakości komponenty i wyjątkowo solidna konstrukcja zapewniają długie i bezproblemowe użytkowanie <br>
-Opracowany i zaprojektowany przez BEHRINGER Germany<br>

<br>
<p>
<strong> Koszt wynajmu wynosi 250 PLN netto/zestaw/dzień.</strong>





  </div>
</div>






