---
title: Wynajem Hal Namiotowych 

keywords: wynajem Hal Namiotowych Warszawa, wypożyczalnia hal namiotowych, hale namiotowe wynajem, wynajem hal namiotowych, hale namiotowe wypożyczalnia, Wynajem hali namiotowej, Wypożyczalnia hali namiotowej

description: Wynajem hal namiotowych Warszawa.
---

<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_oferta' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <h2 style="display:inline; font-size:20px;">Hale namiotowe wynajem Warszawa</h2>
    <p>
      <%= image_tag 'galeria/hala/wynajem_hal_namiotowych_warszawa_02.jpg', class: 'pull-right img-thumbnail' %>

      

      <p>
       Bankiet na świeżym powietrzu, festiwal, wydarzenie artystyczne? Hale namiotowe pozwolą na stworzenie atrakcyjnego miejsca spotkań lub strefy gastronomicznej, która przyciągnie uczestników. Dynamiczny rozwój firmy pozwolił nam na wzbogacenie oferty o wynajem hal namiotowych. Proponujemy Państwu nowe aluminiowe hale namiotowe, w których wysokość ściany bocznej wynosi 2,5 oraz 3 m. Poszycie, na które składa się biały dach oraz białe ściany z dużymi, panoramicznymi oknami, wykonane jest z wysokiej jakości PCV. Solidna i wytrzymała konstrukcja pozwala na bezproblemową organizację imprez nawet w bardzo wietrzne dni. Oferujemy wynajem hal namiotowych zarówno krótko jak i długoterminowo.
       <p> 
       W ofercie posiadamy także podłogi do hal namiotowych.
       Podłoga układana jest na stalowym stelażu, dzięki czemu jest stabilna i bardzo wytrzymała.
      </p>
    
   
Poniżej przedstawiamy rozmiary oraz ceny wynajmu oferowanych hal namiotowych. 
     <p>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th> Wielkość Hali Namiotowej</th>
        <th> 1 doba</th>
        <th> 2 doby</th>
        <th> 3 doby</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> Hala namiotowa 10x10</td>
        <td> 2 000 zł</td>
        <td> 3 000 zł</td>
        <td> 3 500 zł</td>
      </tr>
       <tr>
        <td> Hala namiotowa 10x15</td>
        <td> 3 000 zł</td>
        <td> 4 500 zł</td>
        <td> 5 000 zł</td>
      </tr>
      <tr>
        <td> Hala namiotowa 10x20</td>
        <td> 4 000 zł</td>
        <td> 6 000 zł</td>
        <td> 7 000 zł</td>
      </tr>
      <tr>
        <td> Hala namiotowa 10x25</td>
        <td> 5 000 zł</td>
        <td> 7 500 zł</td>
        <td> 9 000 zł</td>
      </tr>
       <tr>
        <td> Hala namiotowa 12x10</td>
        <td> 2 400 zł</td>
        <td> 3 600 zł</td>
        <td> 4 200 zł</td>
      </tr>
       <tr>
        <td> Hala namiotowa 12x15</td>
        <td> 3 600 zł</td>
        <td> 5 400 zł</td>
        <td> 6 300 zł</td>
      </tr>
       <tr>
        <td> Hala namiotowa 12x20</td>
        <td> 4 800 zł</td>
        <td> 7 200 zł</td>
        <td> 8 400 zł</td>
      </tr>
       <tr>
        <td> Hala namiotowa 12x25</td>
        <td> 6 000 zł</td>
        <td> 9 000 zł</td>
        <td> 10 500 zł</td>
      </tr>
       <tr>
        <td> Hala namiotowa 12x30</td>
        <td> 7 200 zł</td>
        <td>10 800 zł</td>
        <td> 12 600 zł</td>
      </tr>
      <tr>
        <td> Podłoga drewniana</td>
        <td> 10 zł/m^2</td>
        <td> 12 zł/m^2</td>
        <td> 15 zł/m^2</td>
      </tr>
       <tr>
    
   
    
    
      
      </tr>
      </tbody>

    </table>
    Podane ceny są cenami netto. Cena za hale namiotowe na wynajem nie uwzględnia transportu, który wyceniany jest indywidualnie w zależności od miejsca docelowego rozłożenia hali. Dla dłuższych terminów prosimy o kontakt telefoniczny w celu dokonania indywidualnej wyceny.


 <p>
      <%= partial 'galeria/galeria_hala' %>



  </div>

</div>





