---
title: Wypożyczalnia namiotów Turbonamioty

keywords: wynajem stołów, wypożyczalnia stołów warszawa, stoły cateringowe wynajem, stoły biesiadne wynajem, wynajem stołów catereingowych, stoły wynajem warszawa, 

description: Wypożyczalnia namiotów Warszawa- wynajem stołów bankietowych i plenerowych, okrągłych, koktajlowych. 
---

<div class="row">
  <div class="col-sm-12">
    <p>
    </p>
  <p class="lead"> <strong><h2 style="display:inline; font-size:22px;">Stoły</h2></strong></p>
      <a name="co_nas_wyroznia">
    
      </a>
        <div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
      <%= image_tag 'galeria/wyposazenie_dodatkowe/stoly_i_lawy/wynajem_stolow_12.jpg', class: 'pull-right img-thumbnail' %>
      <p class="lead"> <strong><h2 style="display:inline; font-size:22px;">Stół biesiadny 220x50 cm </h2></strong></p>
    
  
  
      <p> Wynajem stołów 220x50</p>
<p>
Oferujemy wynajem stołów drewnianych o wymiarach 220x50 cm, 8 osobowych.</p>

Cechy stołów:<p>
- wykonane z drewna lakierowanego<br>
- odporne na wilgoć<br>
- do użytku zarówno wewnątrz, jak i na zewnątrz<br>
- wysokość blatu ok 75 cm<br>
<p>
<strong>Koszt wynajmu stołu- 20 PLN netto/szt/dzień.</strong>
<br>
<strong>Koszt wynajmu kompletu stół+2 ławki- 40 PLN netto/szt/dzień.</strong>



  </div>
</div>



