---
title: Wypożyczalnia namiotów Turbonamioty

keywords: wynajem stołów, wypożyczalnia stołów warszawa, stoły cateringowe wynajem, stoły biesiadne wynajem, wynajem stołów catereingowych, stoły wynajem warszawa, 

description: Wypożyczalnia namiotów Warszawa- wynajem stołów bankietowych i plenerowych, okrągłych, koktajlowych. 
---

<div class="row">
  <div class="col-sm-12">
    <p>
    </p>
  <p class="lead"> <strong><h2 style="display:inline; font-size:22px;">Stół biesiadny 220x50 cm </h2></strong></p>
      <a name="co_nas_wyroznia">
    
      </a>
        <div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
      <%= image_tag 'galeria/wyposazenie_dodatkowe/stoly_i_lawy/wynajem_stolow_koktajlowych_01.jpg', class: 'pull-right img-thumbnail' %>
      <p class="lead"> <strong><h2 style="display:inline; font-size:22px;">Stolik koktajlowy </h2></strong></p>
    
   
  
      <p> Wynajem stolików koktajlowych składanych</p>
<p>
Oferujemy wynajem stolików koktajlowych o wysokości 110 cm i średnicy 70 cm, pastikowych.</p>

Cechy stołów:<p>
- wykonane z polietylenu<br>
- lekkie, odporne na wilgoć<br>
- do użytku zarówno wewnątrz, jak i na zewnątrz<br>
- składane <br>
- wysokość blatu 110 cm<br>
<p>
<strong>Koszt wynajmu- 25 PLN netto/szt/dzień.</strong>




  </div>
</div>



  </div>
</div>




