@charset "utf-8";

//= require 'jquery'
//= require 'ekko-lightbox'
@import "bootstrap";
@import "thumbscrubber";

body {
  background-image: url(image-path('background.png'));
  background-repeat: repeat;

}

body > .container {
  background: #fff;
  padding: 15px;
  margin-bottom: 30px;
}

a[data-toggle='lightbox'] {
  margin-bottom: 10px;
}

.page-header {
  margin-top: 65px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;

}

.carousel-control {
  width: 5%;
}

.jumbotron-header {
  color: #fff;
  background: rgba(0, 0, 0, .5);
  padding: 10px;
  margin-bottom: 5px;
}
.jumbotron{
  padding-top: 5px;
  padding-bottom: 100px;
}