.thumbscrubber {
    position: relative;
    display: block;
    width: 100%;
}
.thumbscrubber .ts-inner {

    width: 100%;
    height: 100%;
    z-index: 1;
}
.thumbscrubber .ts-inner > * {
    display:none;


    top: 0;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
}
.thumbscrubber .ts-inner .ts-currslide {
    display: block;
}

.thumbscrubber.smooth .ts-inner > * {
    transition: all .3s ease;
}