---
title: Wynajem zastawy stołowej

keywords: wynajem zastawy stołowej Warszawa, wypożyczalnia zastawy stołowej Warszawa, zastawa stołowa na wynajem, wynajem naczyń, naczynia bankietowe, porcelana wynajem, wynajem zastawy stołowej cennik, 

description: Wynajem zastawy stołowej Warszawa. Wynajmujemy zastawę stołową i naczynia.
---



<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_oferta' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
<strong><h2 style="display:inline; font-size:20px;"> Widelec </h2></strong> 
<br>
<br>
  <%= image_tag 'galeria/wyposazenie_dodatkowe/zastawa_stolowa/sztucce/thumbs/widelec.jpg', class: 'pull-right img-thumbnail' %>
    <p>
      <strong>Widelec obiadowy </strong> <p>
      <li> seria typowo cateringowa</li> 
      <li> stal 180/0</li>
      <li> grubość 1,5mm </li><p>
      <p>
      <strong>Koszt wynajmu 0,35 PLN netto/szt. </strong> <p>
        </div>

</div>





