<%= link_to 'Zestaw komunijny', '/wypozyczalnia_namiotow_warszawa/wynajem_namiotow_weselnych.html', class: 'list-group-item' %>
<%= link_to 'Zestaw wesele i poprawiny', '/wypozyczalnia_namiotow_warszawa/wypozyczalnia_namiotow_weselnych_cena.html', class: 'list-group-item' %>
<%= link_to 'Zestaw noclegowy', '/wypozyczalnia_namiotow_warszawa/namiot_na_wesele.html', class: 'list-group-item' %>




