<%= link_to 'Namioty 3x3', '/wynajem_namiotow_warszawa/namioty_3x3.html', class: 'list-group-item' %>
<%= link_to 'Namioty 3x6', '/wynajem_namiotow_warszawa/namioty_3x6.html', class: 'list-group-item' %>
<%= link_to 'Namioty 4x8', '/wynajem_namiotow/wynajem_namiotow_pop-up.html', class: 'list-group-item' %>
<%= link_to 'Namioty 5x8', '/wynajem_namiotow_warszawa/namioty_5x8.html', class: 'list-group-item' %>
<%= link_to 'Namioty 5x10', '/wynajem_namiotow_warszawa/namioty_5x10.html', class: 'list-group-item' %>
<%= link_to 'Namioty 6x12', '/wynajem_namiotow_warszawa/namioty_6x12.html', class: 'list-group-item' %>
<%= link_to 'Wynajem Hal Namiotowych', '/wynajem_hal_namiotowych/wynajem_hal_namiotowych_warszawa.html', class: 'list-group-item' %>
<%= link_to 'Namioty wojskowe NS-64', '/wynajem_namiotow_warszawa/namioty_ns_64.html', class: 'list-group-item' %>
<%= link_to 'Namioty harcerskie', '/wynajem_namiotow_warszawa/namioty_harcerskie.html', class: 'list-group-item' %>
<%= link_to 'Łóżka i materace wojskowe', '/wynajem_namiotow_warszawa/lozka_materace_wojskowe.html', class: 'list-group-item' %>
<%= link_to 'Wyposażenie dodatkowe', '/oferta_01.html', class: 'list-group-item' %>
<%= link_to 'Wynajem maszyny do waty cukrowej', '/wynajem_namiotow_warszawa/wata_cukrowa.html', class: 'list-group-item' %>
<%= link_to 'Wynajem maszyny do popcornu', '/wynajem_namiotow_warszawa/popcorn.html', class: 'list-group-item' %>
<%= link_to 'Nagłośnienie i oświetlenie', '/wynajem_naglosnienia_warszawa/wypozyczalnia_naglosnienia.html', class: 'list-group-item' %>

<%= link_to 'Wynajem nagrzewnic', '/wynajem_namiotow_warszawa/wynajem_parasoli_grzewczych.html', class: 'list-group-item' %>
