<%= link_to 'Zestaw komunijny', '/namiot_na_komunie/index.html', class: 'list-group-item' %>
<%= link_to 'Namiot do 20 osób', '/namiot_na_komunie/namiot_do_20_osob.html', class: 'list-group-item' %>
<%= link_to 'Namiot do 30 osób', '/namiot_na_komunie/namiot_do_30_osob.html', class: 'list-group-item' %>
<%= link_to 'Namiot do 40 osób', '/namiot_na_komunie/namiot_do_40_osob.html', class: 'list-group-item' %>
<%= link_to 'Namiot do 50 osób ', '/namiot_na_komunie/namiot_do_50_osob.html', class: 'list-group-item' %>
<%= link_to 'Namiot 50-70 osób ', '/namiot_na_komunie/namiot_powyzej_50_osob.html', class: 'list-group-item' %>
<%= link_to 'Najpopularniejsze', '/namiot_na_komunie/namiot_komunijny.html', class: 'list-group-item' %>
<%= link_to 'Zestaw komunijny Premium', '/namiot_na_komunie/wynajem_namiotow_komunijnych.html', class: 'list-group-item' %>
<%= link_to 'Fontanna czekoladowa ', '/namiot_na_komunie/fontanna_czekoladowa.html', class: 'list-group-item' %>