
<%= link_to 'Namioty i hale namiotowe', '/wynajem_namiotow/wynajem_namiotow_i_hal.html', class: 'list-group-item' %>
<%= link_to 'Zastawa Stołowa', '/wynajem_zastawy_stolowej.html', class: 'list-group-item' %>
<%= link_to 'Stoły', '/wynajem_namiotow/wynajem_stolow.html', class: 'list-group-item' %>
<%= link_to 'Krzesła', '/wynajem_namiotow/wynajem_krzesel.html', class: 'list-group-item' %>
<%= link_to 'Tekstylia', '/tekstylia.html', class: 'list-group-item' %>
<%= link_to 'Parasole grzewcze', '/wynajem_namiotow_warszawa/wynajem_parasoli_grzewczych.html', class: 'list-group-item' %>
<%= link_to 'Szatnie', '/wynajem_szatni.html', class: 'list-group-item' %>
<%= link_to 'Barierki ochronne', '/barierki.html', class: 'list-group-item' %>
<%= link_to 'Nagłośnienie', '/wynajem_naglosnienia_warszawa/wypozyczalnia_naglosnienia.html', class: 'list-group-item' %>
<%= link_to 'Oświetlenie dekoracyjne', '/oswietlenie_dekoracyjne_wynajem/dekoracja_swiatlem.html', class: 'list-group-item' %>
<%= link_to 'Sprzęt noclegowy', '/wynajem_namiotow/nocleg.html', class: 'list-group-item' %>
<%= link_to 'Mini golf', '/minigolf_wynajem_warszawa.html', class: 'list-group-item' %>
<%= link_to 'Meble eventowe', '/wynajem_namiotow/wynajem_mebli_eventowych.html', class: 'list-group-item' %>
<%= link_to 'Pozostałe', '/wynajem_namiotow/wynajem_wyposazenia_eventowego.html', class: 'list-group-item' %>
<%= link_to 'Wynajem maszyny do waty cukrowej', '/wynajem_namiotow_warszawa/wata_cukrowa.html', class: 'list-group-item' %>
<%= link_to 'Wynajem maszyny do popcornu', '/wynajem_namiotow_warszawa/popcorn.html', class: 'list-group-item' %>
