<nav class="navbar navbar-default navbar-inverse">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!--<a

     class="navbar-brand" href="#">Turbonamioty</a>-->
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Turbonamioty', '/', class: 'hidden-md hidden-sm' %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Wynajem namiotów <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <%= link_to 'Namioty 3x3', '/wynajem_namiotow_warszawa/namioty_3x3.html' %>
          </li>
          <li>
            <%= link_to 'Namioty 3x6', '/wynajem_namiotow_warszawa/namioty_3x6.html' %>
          </li>
          <li>
            <%= link_to 'Namioty 4x8', '/wynajem_namiotow/wynajem_namiotow_pop-up.html' %>
          </li>

          <li>
            <%= link_to 'Namioty 5x8', '/wynajem_namiotow_warszawa/namioty_5x8.html' %>
          </li>

          <li>
            <%= link_to 'Namioty 5x10', '/wynajem_namiotow_warszawa/namioty_5x10.html' %>
          </li>

          <li>
            <%= link_to 'Namioty 6x12', '/wynajem_namiotow_warszawa/namioty_6x12.html' %>
          </li>
 <li>
            <%= link_to 'Hale namiotowe', '/wynajem_hal_namiotowych/wynajem_hal_namiotowych_warszawa.html' %>
          </li>
          <li>
            <%= link_to 'Namioty wojskowe NS-64', '/wynajem_namiotow_warszawa/namioty_ns_64.html' %>
          </li>

          <li>
            <%= link_to 'Namioty harcerskie', '/wynajem_namiotow_warszawa/namioty_harcerskie.html' %>
          </li>

          <li>
            <%= link_to 'Łózka i materace wojskowe', '/wynajem_namiotow_warszawa/lozka_materace_wojskowe.html' %>
          </li>


          <li>
            <%= link_to 'Wyposażenie dodatkowe', '/oferta_01.html' %>
          </li>

          <li>
            <%= link_to 'Wynajem maszyny do waty cukrowej', '/wynajem_namiotow_warszawa/wata_cukrowa.html' %>
          </li>

          <li>
            <%= link_to 'Wynajem maszyny do popcornu', '/wynajem_namiotow_warszawa/popcorn.html' %>
          </li>
          <li>
            <%= link_to 'Nagłośnienie i oświetlenie', '/oswietlenie_dekoracyjne_wynajem/dekoracja_swiatlem.html' %>
          </li>
        </ul>
      </li>

      

      <li><%= link_to 'Hale namiotowe', '/wynajem_hal_namiotowych/wynajem_hal_namiotowych_warszawa.html' %></li>

      <li><%= link_to 'Oferta', '/oferta_01.html' %></li>
     
      <li><%= link_to 'O firmie', '/o-firmie.html' %></li>
      <li><%= link_to 'Galeria', '/galeria' %></li>
      <li><%= link_to 'Cennik', '/cennik.html' %></li>
      <li><%= link_to 'RODO', '/RODO.html' %></li>
      <li><%= link_to 'Blog', '/blog.html' %></li>
      <li><%= link_to 'Kontakt', '/kontakt.html' %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right hidden-md hidden-sm">
      <!--<li><%= link_to 'tel: 600-22-35-35', 'phone:600223535' %></li>-->
      <!--<li><%= mail_to 'biuro@turbonamioty.pl', 'biuro@turbonamioty.pl' %></li>-->
    </ul>
  </div>
</nav>
<div class="row">
  <div class='col-xs-12'> 
    <ul class="list-inline pull-right panel panel-primary">
    <li><%= link_to 'tel: 600-22-35-35', 'phone:600223535' %></li>
    <li><%= mail_to 'biuro@turbonamioty.pl', 'biuro@turbonamioty.pl' %></li>  
    </ul>
  </div>
</div>