<!doctype html>
<html>
  <head>
<meta name="description" content="<%= current_page.data.description || "Wynajem namiotów Warszawa Turbonamioty. Wynajmujemy wysokiej jakości namioty i sprzęt zachowując niskie ceny. Wypożyczalnia namiotów na którą stać każdego!" %>" />
<meta name="keywords" content="<%= current_page.data.keywords || "wynajem namiotów Warszawa, wynajem hal namiotowych, wypożyczalnia namiotów Warszawa, namioty Warszawa, wynajem ogrzewaczy, wynajem parasoli grzewczych, wypożyczalnia stołów i krzeseł, dekoracja światłem, wynajem nagłośnienia" %>" />
<title><%= current_page.data.title || "Turbonamioty" %></title>

    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    
    
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>

 
<meta name="google-site-verification" content="pLH3vQ3PKYV9mzkQGbbN8KpR6H6pu9A9sZSgS-NgSWc" />
 </head>
  
  <body class="<%= page_classes %>">
  <div class="container">
    <%= image_tag 'logo.png', class: 'pull-right' %>
    <div class="page-header">
      <h1>
      <% if current_page.data.title %>

            <%= current_page.data.title %>
      <% end %>
      </h1>
    </div>
    <%= partial 'layouts/navigation' %>
    <%= yield %>
  </div>


  </body>
</html>
