---
title: Wypożyczalnia namiotów Turbonamioty

keywords: wynajem dekoracji świetlnych, wypożyczalnia oświetlenia warszawa, dekoracje świetlne wynajem, dekoracja światłem wynajem, wynajem oświetlenia, oświetlenie imprez wynajem warszawa, wynajem oświetlenia na eventy warszawa, 

description: Wypożyczalnia namiotów Warszawa- wynajem dekoracji świetlnych , oświetlenie imprez
---

<div class="row">
  <div class="col-sm-12">
    <p>
    </p>

      <a name="co_nas_wyroznia">
    <p class="lead"> <strong><h2 style="display:inline; font-size:18px;">Wynajem dekoracji świetlnych </h2></strong></p>
      </a>
        <div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
      <%= image_tag 'galeria/wyposazenie_dodatkowe/oswietlenie/laser_01.jpg', class: 'pull-right img-thumbnail' %>
      <p class="lead"> <strong><h2 style="display:inline; font-size:22px;">Wynajem lasera dyskotekowego </h2></strong></p>
    
  
  
      <strong>Koszt wynajmu lasera to 65 PLN netto/szt.</strong>  </p>
<p>
Laser dwukolorowy, wyposażony w diodę czerwoną i zieloną, 7-kanałowy DMX oraz osiem wzorów wyświetlania, np.: kolorowy wiatraczek, rotacja obrazem, migotanie gwiazdami, płaska siatka, efekt gobo etc.  Wzory mogą być uruchamiane w systemie auto, w trybie DMX, laser może też działać w rytm muzyki (aktywacja dźwiękiem przez wbudowany mikrofon) i w trybie Master / Slave (połączony w szeregu z innymi laserami). Laser może wypełnić efektem świetlnym każdą salę, nawet o niekorzystnym układzie geometrycznym, bowiem kąt rozproszenia promieni jest większy niż 120 stopni. Posiadając ten laser, możesz go używać do praktycznie wszelkiego rodzaju zastosowań.<br>
<p>
Specyfikacja:<p>
<p>
Czerwony i zielony 7-kanałowy laser DMX + gobo<p>
8 wzorów<p>
Tryb Auto, aktywacja dźwiękiem, DMX i Master/Slave<p>
Kąt rozpraszania > 120°<p>
Złącze XLR 3-Pin dla podłączenia DMX lub kilku laserów w trybie Master/Slave<p>
Uchwyt do zawieszenia<p>
Laser: Czerwony 150 mW i Zielony 90 mW<p>
Długość wiązki: Czerwony (650 nm) i Zielony (532nm)<p>
Liczba kanałów DMX: 7<p>
Koło: Gobo<p>
Zasilanie: 220-240Vac/50Hz - 20W<p>
Waga: 1.5kg<p>
<p>

       



  </div>
</div>




