---
title: Wypożyczalnia namiotów Turbonamioty

keywords: wynajem dekoracji świetlnych, wypożyczalnia oświetlenia warszawa, dekoracje świetlne wynajem, dekoracja światłem wynajem, wynajem oświetlenia, oświetlenie imprez wynajem warszawa, wynajem oświetlenia na eventy warszawa, listwy LED BAR wynajem

description: Wypożyczalnia namiotów Warszawa- wynajem dekoracji świetlnych , oświetlenie imprez
---

<div class="row">
  <div class="col-sm-12">
    <p>
    </p>
<p class="lead"> <strong><h2 style="display:inline; font-size:18px;">Wynajem dekoracji świetlnych </h2></strong></p>
      <a name="co_nas_wyroznia">
    
      </a>
        <div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
      <%= image_tag 'galeria/wyposazenie_dodatkowe/oswietlenie/led_par_01.jpg', class: 'pull-right img-thumbnail' %>
      <p class="lead"> <strong><h2 style="display:inline; font-size:18px;">Wynajem dekoracji świetlnych </h2></strong></p>
    
  
  
      <p> Wynajem PAR LED</p>
      <strong>Koszt wynajmu PAR LED to 35 PLN netto/szt. </strong> </p>
<p>
LED PAR 64 18x 10W RGBW 4w1 IP65 przeznaczone do pracy wewnątrz jak i na zewnątrz, do oświetlania fasad budynków, daje niezwykłe efekty. Reflektor może wyświetlać kolory statyczne jak i zmieniać kolory w trybie automatycznym. W tej wersji, zastosowano mocne diody RGBW, które zdecydowanie poprawiaja miksowanie kolorów, rozszerzają uzyskiwaną paletę barw. Plama światła jest jednorodna na całej powierzchni.<br>
<p>
Zasilanie: 90V-230VAC, 50/60Hz<p>
Led:18*10W LED (RGBW), żywotność  50,000 godzin<p>
Kąt świecenia: 25*<p>
DMX512: 8 kanałów<p>
Sterowanie: Tryb Auto, DMX-512<p>
Klasa szczelności: IP65<p>
Brak wentylatorów chłodzących - idealnie cicha praca<p>
Kable połączeniowe przeznaczone do użytku na zewnątrz pomieszczeń<p>
Specjalne zaślepki zabezpieczajace przed wnikaniem wilgoci do nie podłączonych kabli zasilających<p>
Możliwość podłączenia w szereg do 10 urządzeń<p>
Wymiary: 240x240x340mm<p>
Waga: 7,8kg<p>
<p>

       



  </div>
</div>




