---
title: Wypożyczalnia namiotów Turbonamioty

keywords: wynajem dekoracji świetlnych, wypożyczalnia oświetlenia warszawa, dekoracje świetlne wynajem, dekoracja światłem wynajem, wynajem oświetlenia, oświetlenie imprez wynajem warszawa, wynajem oświetlenia na eventy warszawa, listwy LED BAR wynajem

description: Wypożyczalnia namiotów Warszawa- wynajem dekoracji świetlnych , oświetlenie imprez
---

<div class="row">
  <div class="col-sm-12">
    <p>
    </p>
<p class="lead"> <strong><h2 style="display:inline; font-size:18px;">Wynajem dekoracji świetlnych </h2></strong></p>
      <a name="co_nas_wyroznia">
  
      </a>
        <div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
      <%= image_tag 'galeria/wyposazenie_dodatkowe/oswietlenie/led_bar_01.jpg', class: 'pull-right img-thumbnail' %>
     
    <p class="lead"> <strong><h2 style="display:inline; font-size:22px;">Wynajem LED BAR BEAM Z </h2></strong></p>
    
  
    
<p>
<strong>Koszt wynajmu LED BAR to 30 PLN netto/szt. </strong> </p>
<p>
Belka oświetleniowa LED BAR BeamZ LCB803 to profesjonalne oświetlenie z mocnymi, 80 diodami LED 3w1. Można nimi sterować poprzez poszczególne sekcje, dodatkowo każda z sekcji ma możliwość kontrolowania poprzez DMXa dedykowanymi im kolorami RGB. Używając urządzenia samodzielnie, bez zewnętrznych sterowników mamy do dyspozycji 16 zaprogramowanych pokazów aktywowanych dźwiękiem. Dodatkowe wyjście IEC umożliwia podpięcie kilku jednostek ze sobą i jednoczesne ich zasilanie. LED BAR dostarczany jest wraz z bezprzewodowym pilotem.<br>

 <p>

Specyfikacja <p>
 <p>
Ilość diod: 80x 3W RGB 3-in-1 <p>
Miksowanie kolorów RGB (czerwony, zielony, niebieski) <p>
Ilość kanałów DMX: 3, 6, 12, 24 lub 48 <p>
Kontrolowane sekcje: 1, 2, 4 lub 8 <p>
Tryb sterowania: samodzielny lub DMX <p>
Synchronizacja Master/Slave <p>
Aktywacja dźwiękiem z regulacją czułości <p>
Tryb Auto z regulacją prędkości <p>
Wejście/Wyjście DMX poprzez 3pinowy XLR <p>
Wejście/Wyjście IEC <p>
Panel kontrolny podświetlany LED'owo <p>
Pilot bezprzewodowy <p>
Promień: 15° <p>
Pole światła: 30° <p>
Intensywność światła: 6700 lux @ 1m <p>
Zasilanie: 100-240VAC / 50-60Hz <p>
Zużycie energii: 120W <p>
Wymiary: 990 x 85 x 75mm <p>
Waga: 3.3 kg <p>
<p>

       



  </div>
</div>




