---
title: Wypożyczalnia namiotów Turbonamioty

keywords: wynajem dekoracji świetlnych, wypożyczalnia oświetlenia warszawa, dekoracje świetlne wynajem, dekoracja światłem wynajem, wynajem oświetlenia, oświetlenie imprez wynajem warszawa, wynajem oświetlenia na eventy warszawa, 

description: Wypożyczalnia namiotów Warszawa- wynajem dekoracji świetlnych , oświetlenie imprez
---
<div class="row">
  <div class="col-sm-12">
    <p>
    </p>
<p class="lead"> <strong><h2 style="display:inline; font-size:18px;">Wynajem dekoracji świetlnych </h2></strong></p>
      <a name="co_nas_wyroznia">

      </a>
        <div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
      <%= image_tag 'galeria/wyposazenie_dodatkowe/oswietlenie/dmx_operator_01.jpg', class: 'pull-right img-thumbnail' %>

    <p class="lead"> <strong><h2 style="display:inline; font-size:22px;">American DJ DMX Operator 384  </h2></strong></p>
    

<p>
<strong>Koszt wynajmu barierki to 75 PLN netto/szt.</strong>  </p>
<p>
- 2 kontrolery w jednym (DMX i Midi), <p>
- 384 kanałów DMX, <p>
- 30 programowalnych bibliotek scen, <p>
- 240 programowalnych scen, <p>
- 12 wyzwalaczy, <p>
- joystick sterujący, <p>
- wbudowany mikrofon, <p>
- przycisk Tap Sync,<p>
- wejście na dymiarkę, <p>
- przycisk Blackout.<p>
<p>

       



  </div>
</div>




