---
title: Wypożyczalnia namiotów Turbonamioty

keywords: wynajem dekoracji świetlnych, wypożyczalnia oświetlenia warszawa, dekoracje świetlne wynajem, dekoracja światłem wynajem, wynajem oświetlenia, oświetlenie imprez wynajem warszawa, wynajem oświetlenia na eventy warszawa, listwy LED BAR wynajem, wytwornica dymu wynajem

description: Wypożyczalnia namiotów Warszawa- wynajem dekoracji świetlnych , oświetlenie imprez
---

<div class="row">
  <div class="col-sm-12">
    <p>
    </p>
<p class="lead"> <strong><h2 style="display:inline; font-size:18px;">Wynajem dekoracji świetlnych </h2></strong></p>
      <a name="co_nas_wyroznia">
    
      </a>
        <div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
      <%= image_tag 'galeria/wyposazenie_dodatkowe/oswietlenie/ibiza_fog_machine_01.jpg', class: 'pull-right img-thumbnail' %>
      
    
   <p class="lead"> <strong><h2 style="display:inline; font-size:22px;">Wynajem wytwornicy dymu Ibiza LSM1500PRO </h2></strong></p>

<p>
<strong>Koszt wynajmu wytwornicy to 120 PLN netto/szt.</strong>  </p>
<p>
Profesjonalna wytwornica dymu o bardzo dużej mocy. Dostarczana z dwoma pilotami (przewodowym, bezprzewodowym), które mogą być używane jednocześnie. Innowacyjna funkcja timera pozwala na automatyczne sterowanie wytwornicą co znacznie ułatwia pracę. Urządzenie jest przeznaczone do średnich i dużych pomieszczeń, klubów, sal weselnych, świetnie sprawdzi się na imprezach, pokazach, studiach nagrań, itp.<br>
<p>
INFORMACJE OGÓLNE:<p>
<p>
Urządzenie dostarczane z dwoma pilotami : 1x przewodowy R / C z funkcją timera i 1x bezprzewodowy r / c<p>
Programowanie i ustawienie czasu trwania oraz przedziału produkcji dymu za pośrednictwem przewodowego pilota zdalnego sterowania<p>
1 x kanał DMX<p>
<p>
DANE TECHNICZNE:<p>
<p>
Moc: 1500W<p>
Pojemność zbiornika: 2.3 l<p>
Czas nagrzewania: 10 min.<p>
Wydajność: 566.3m ³/min.<p>
Zdalny zakres regulacji: 25m<p>
Długość kabla pilota przewodowego: 7m<p>
Zasilanie: 110-220VAC ~ 50-6<p>
Wymiary: 47 x 31 x 20cm<p>
Waga: 7,5 kg<p>
<p>

       



  </div>
</div>




