---
title: Nagłośnienie i dekoracja świetlna imprez i konferencji

keywords: Wynajem oświetlenia dekoracyjnego, wypożyczalnia nagłośnienia, dekoracja światłem wynajem, wynajem nagłośnienia, nagłośnienie imprez, oświetlenie dekoracyjne warszawa

description: Oferujemy usługi wynajmu nagłośnienia oraz oświetlenia dekoracyjnego imprez okolicznościowych oraz konferencji.
---


    <strong> <h2 style="display:inline; font-size:20px;">Nagłośnienie   </h2></strong>
<br>
<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
<h2>Wynajem nagłośnienia</h2>
<p style="text-align: justify;">Organizowane przez Ciebie wydarzenie potrzebuje profesjonalnego nagłośnienia. Aby Twoi goście mogli bawić się przy doskonałej jakości muzyce oferujemy wynajem nagłośnienia. Zdajemy sobie sprawę, jak istotną rolę pełni ono podczas rodzinnych i firmowych uroczystości oraz festynów, dlatego posiadamy tylko sprzęt najwyższej jakości. Miksery, statywy, głośniki o dużej mocy oraz mikrofony – to tylko część naszej oferty. Jeżeli chcesz wynająć profesjonalne nagłośnienie w dobrej cenie, to zapraszamy do kontaktu!</p>
<p>&nbsp;</p>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/naglosnienie/thumbs/behringer_01.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Głośniki Behringer', '/oferta/wynajem_naglosnienia_warszawa/wynajem_glosnikow_01.html' %>

            </h3>

            <p>Aktywny zestaw nagłośnieniowy Behringer EPS500MP3
<p>
<p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/naglosnienie/thumbs/ibiza_01.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Głośniki Ibiza      ', '/oferta/wynajem_naglosnienia_warszawa/wynajem_glosnikow_02.html' %>

            </h3>
<p> 
            <p>Zestaw nagłośnieniowy Ibiza CUBE1512     
             

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/naglosnienie/thumbs/mikrofon_01.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Mikrofon bezprzewodowy       ', '/oferta/wynajem_naglosnienia_warszawa/wynajem_mikrofonow_01.html' %>

            </h3>
<p> 
            <p>Wynajem mikrofonów       
             

          </div>
        </div>
      </div>
       <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/naglosnienie/thumbs/mikrofon_naglowny_01.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Mikrofon nagłowny       ', '/oferta/wynajem_naglosnienia_warszawa/wynajem_mikrofonow_02.html' %>

            </h3>
<p> 
            <p>Wynajem mikrofonów nagłownych  
             

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/naglosnienie/thumbs/mikser_xenyx.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Mikser       ', '/oferta/wynajem_naglosnienia_warszawa/wynajem_miksera.html' %>

            </h3>
<p> 
            <p>Mikser Behringer     
             

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/naglosnienie/thumbs/statyw_vonyx.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Statyw do głośników       ', '/oferta/wynajem_naglosnienia_warszawa/statyw_wynajem.html' %>

            </h3>
<p> 
            <p>Wynajem statywów     
             

          </div>
        </div>
      </div>
      <br>
   

   

    


      </tbody>
    </table>
  </div>

</div>





