---
title: Wypożyczalnia namiotów Turbonamioty

keywords: wynajem stołów, wypożyczalnia stołów warszawa, stoły cateringowe wynajem, stoły biesiadne wynajem, wynajem stołów catereingowych, stoły wynajem warszawa, 

description: Wypożyczalnia namiotów Warszawa- wynajem stołów bankietowych i plenerowych, okrągłych, koktajlowych. 
---

<div class="row">
  <div class="col-sm-12">
    <p>
    </p>
<p class="lead"> <strong><h2 style="display:inline; font-size:22px;">Tekstylia </h2></strong></p>
      <a name="co_nas_wyroznia">
    
      </a>

      <div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
  
      <%= image_tag 'galeria/wyposazenie_dodatkowe/pokrowce_i_obrusy/czerwony_dywan.jpg', class: 'pull-right img-thumbnail' %>
      <p class="lead"> <strong><h2 style="display:inline; font-size:22px;">Wynajem czerwonego dywanu </h2></strong></p>
    
    
  
      <p> Wynajem czerwonego dywanu na uroczystości</p>
<p>
Oferujemy wynajem czerwonego dywanu.<br>
Dywan o szerokości 1,5 m oraz o długości 10 m<br>
Gdy potrzebujesz wymiaru 1,5 x 20 m, układane są 2 kawałki dywanu.<br>
Istnieje możliwość zamówienia dywanu pod dowolny wymiar. W takim przypadku koszt wynajmu ustalany jest indywidualnie.<br>
<p>
<strong> Koszt wynajmu wynosi 75 PLN netto/szt/dzień.</strong>



  </div>
</div>






