---
title: Wynajem zastawy stołowej
keywords: wynajem szklanek Warszawa, wypożyczalnia kieliszków Warszawa, szklanki na wynajem, 

description: Wynajem szklanek Warszawa. Wynajmujemy szklanki na bankiety i eventy. 
---



    <strong> <h1 style="display:inline; font-size:20px;">Wynajem szkła   </h1></strong>
<br>
<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">

 <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/zastawa_stolowa/szklo/thumbs/literatka.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Literatka       ', '/oferta/wynajem_zastawy_stolowej/szklo/wynajem_szkla/literatka.html' %>

            </h3>
<p> 
            <p>Literatka 150 ml     
             

          </div>
        </div>
      </div>

       <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/zastawa_stolowa/szklo/thumbs/long_drink.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Long Drink       ', '/oferta/wynajem_zastawy_stolowej/szklo/wynajem_szkla/long_drink.html' %>

            </h3>
<p> 
            <p> Szklanka 350 ml   
             

          </div>
        </div>
      </div>
    
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/zastawa_stolowa/szklo/thumbs/kieliszek_do_wodki.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Kieliszek do wódki      ', '/oferta/wynajem_zastawy_stolowej/szklo/wynajem_szkla/kieliszek_wodka.html' %>

            </h3>
<p> 
            <p>Kieliszek 30 ml    
             

          </div>
        </div>
      </div>
      

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/zastawa_stolowa/szklo/thumbs/kieliszek_do_szampana.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Kieliszek do szampana', '/oferta/wynajem_zastawy_stolowej/szklo/wynajem_szkla/kieliszek_szampan.html' %>

            </h3>

            <p>Kieliszek 180 ml
<p>
<p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/zastawa_stolowa/szklo/thumbs/kieliszek_do_wina_bialego.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Kieliszek do wina         ', '/oferta/wynajem_zastawy_stolowej/szklo/wynajem_szkla/kieliszek_wino.html' %>

            </h3>
<p> 
            <p>Kieliszek 250 ml  
             

          </div>
        </div>
      </div>

<div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/zastawa_stolowa/szklo/thumbs/karafka.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Karafka         ', '/oferta/wynajem_zastawy_stolowej/szklo/wynajem_szkla/karafka.html' %>

            </h3>
<p> 
            <p>Karafka 1000 ml  
             

          </div>
        </div>
      </div>

      


      <br>
   

   

    


      </tbody>
    </table>
  </div>

</div>





