---
title: Wynajem namiotów wojskowych NS-64 - Zestaw noclegowy

keywords: wynajem namiotów, wynajem namiotów wojskowych cena, wypożyczalnia namiotów harcerskich, wynajem namiotów militarnych, wypożyczalnia namiotów NS-64, wynajem namiotów cennik, wynajem łóżek i materacy wojskowych, łóżka polowe wypożyczalnia, materace wojskowe wypożyczalnia, koszt wynajmu namiotu

description: Wynajem namiotów harcerskich i wojskowych Warszawa- Wypożyczalnia namiotów Warszawa Namioty harcerskie i wojskowe NS-64 wraz z materacami i łóżkami polowymi typu kanadyjka
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_propozycje' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <p>
      <h1 style="display:inline; font-size:20px;">Namioty wojskowe NS-64</h1>
<br>
    Zestaw noclegowy jest propozycją skierowaną do osób, które organizują uroczystość weselną, większą imprezę okolicznościową, obóz, czy też zlot i zamierzają przenocować uczestników imprezy . Wychodząc naprzeciw zapotrzebowaniom klientów, wraz z zebranym we wcześniejszych latach doświadczeniem stworzyliśmy dla Państwa następującą propozycję.
    </p>
    <p>
    W skład zestawu wchodzą:
    </p>
    <ul>
    <li>namiot harcerski wysoki lub namiot NS-64</li>
    <li>10 materacy wojskowych</li>
    <li>10 łóżek polowych lub łóżek typu kanadyjka</li>
    </ul>

    <p>
    Koszt wynajmu 1 zestawu noclegowego na 1 noc to 160 PLN.
    Wraz ze wzrostem ilości wypożyczonego sprzętu oraz długością okresu wypożyczenia, ceny znacząco maleją.
    </p>
  </div>

</div>





