---
title: Wynajem parasoli grzewczych i nagrzewnic

keywords: wynajem parasoli grzewczych Piramida Warszawa, wypożyczalnia parasoli grzewczych Warszawa, ogrzewanie do namiotu, promienniki grzewcze, piecyk grzewczy na gas, parasol grzewczy wynajem, wynajem nagrzewnic do namiotu, wynajem grzybków grzewczych, grzybki na gas Warszawa, Grzybki grzewcze, parasole grzewcze Piramida

description: Wynajem parasoli grzewczych Piramida Warszawa. Wynajmujemy parasole grzewcze, nagrzewnice, promienniki grzewcze gazowe, grzybki grzewcze, parasole typu Piramida.
---

  <div class="row">
  <div class="col-sm-4 col-md-3">
   <strong> <h1 style="display:inline; font-size:20px;">Parasole grzewcze  </h1></strong>
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">

    <p> <h1 style="display:inline; font-size:20px;"> Wynajem parasoli grzewczych typu Piramida </h1>
       <p>
       <%= image_tag 'galeria/wyposazenie_dodatkowe/parasol_grzewczy/thumbs/wynajem_nagrzewnic_08.jpg', class: 'pull-right img-thumbnail' %>

    
<p>
     Oferujemy wynajem parasoli grzewczych gazowych typu Piramida.
    Parasole grzewcze, dostępne w naszej ofercie, są najwyższej jakości, charakteryzują się doskonałymi parametrami grzewczymi, przy zachowaniu maksymalnej wydajności. Dzięki temu możliwe jest niedrogie ogrzanie przestrzeni namiotu bankietowego i stworzenie komfortowych warunków nawet w chłodne dni lub wieczory. Parasole grzewcze można z powodzeniem wykorzystywać także na otwartej przestrzeni. Nowoczesna konstrukcja sprawia, że parasole grzewcze flame Piramida mogą stanowić równocześnie estetyczny element dekoracyjny. Oferujemy wynajem parasoli grzewczych w korzystnych cenach. <br>
<br>
     SPECYFIKACJA TECHNICZNA:<br>
     <br>

<li>- Wysokość - 223 cm</li>

<li>- Waga ok.- 25 kg</li>

<li>- Moc: 10,5 kw</li>

<li>- Elektroniczny piezozapalnik</li>

<li>- Automatyczny wyłącznik</li>

<li>- Rury szklane żaroodporne, odporne na wysoką temperaturę</li>

<li>- Rama z lakierowanego aluminium</li>

<li>- Aluminiowy reflektor</li>

<li>- Ruchomy (na kółkach)</li>
<br>
<h2 style="display:inline; font-size:16px;">Parasole grzewcze </h2> idealnie nadają się na:
   </p>
    <ul>


    <li>imprezy plenerowe</li>
    <li>imprezy na przydomowym tarasie</li>
    <li>do ogródków restauracyjnych</li>
    <li>do ogrzewania namiotów</li>
    <li>do osuszania pomieszczeń</li>
    <li>wszędzie tam, gdzie zależy nam na efektywnym ogrzaniu przestrzeni
    </ul>
    <p>
    <h2 style="display:inline; font-size:16px;">Koszt wynajmu parasoli grzewczych typu Piramida </h2> wynosi 150 PLN/szt w przypadku wynajmu bez butli.<br> Koszt wynajmu wraz z butlą 11 kg wynosi 200 PLN/szt.<br>
    Cena za wynajem na maksymalnie 3 dni. <br>
    Podane ceny są cenami netto. <br>
    <br>
    Uwaga! Jeżeli uda Ci się odnaleźć tańszą wypożyczalnię parasoli grzewczych o takich samych parametrach, stanie technicznym oraz jakości, daj nam znać.<br> 
    Przygotujemy specjalnie dla Ciebie ofertę o 10% niższą niż u konkurencji.
    </p>

    <%= partial 'galeria/galeria_parasol_grzewczy' %>



      </tbody>
    </table>
  </div>

</div>


