---
title: Wynajem parasoli grzewczych i nagrzewnic

keywords: wynajem parasoli grzewczych Warszawa, wypożyczalnia parasoli grzewczych Warszawa, ogrzewanie do namiotu, promienniki grzewcze, piecyk grzewczy na gas, parasol grzewczy wynajem, wynajem nagrzewnic do namiotu, wynajem grzybków grzewczych, grzybki na gas Warszawa, Grzybki grzewcze, parasole grzewcze Piramida

description: Wynajem parasoli grzewczych Warszawa. Wynajmujemy parasole grzewcze, nagrzewnice, promienniki grzewcze gazowe, grzybki grzewcze, parasole typu Piramida.
---


    <strong> <h1 style="display:inline; font-size:40px;">Parasole i promienniki grzewcze  </h1></strong>
<br>

  <div class="row">
  <div class="col-sm-4 col-md-3">
  <strong> <h1 style="display:inline; font-size:20px;">Parasole grzewcze  </h1></strong>
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
  
<p> 
            <p>Parasole grzewcze gazowe typu Piramida      
             

          </div>
        </div>
      </div>
      <br>
   <p>
     Oferujemy wynajem parasoli grzewczych gazowych, znanych także pod nazwami takimi jak grzybki grzewcze czy promienniki. Parasole grzewcze, dostępne w naszej ofercie, są najwyższej jakości, charakteryzują się doskonałymi parametrami grzewczymi, przy zachowaniu maksymalnej wydajności. Dzięki temu możliwe jest niedrogie ogrzanie przestrzeni namiotu bankietowego i stworzenie komfortowych warunków nawet w chłodne dni lub wieczory. Parasole grzewcze można z powodzeniem wykorzystywać także na otwartej przestrzeni. Nowoczesna konstrukcja sprawia, że grzybki grzewcze mogą stanowić równocześnie estetyczny element dekoracyjny. Oferujemy wynajem parasoli grzewczych w korzystnych cenach. <br>
<br>
     SPECYFIKACJA TECHNICZNA:<br>
     <br>
- czujnik temperatury "overheat"<br>
- wysokość całkowita 2,3m - tak wysoki parasol daje dużo większy zasięg grzania<br>
- średnica reflektora ca. 80 cm<br>
- średnica podstawy ca. 55cm<br>
- parasol grzewczy o mocy palnika odpowiadającej 14 kW<br>  
- rodzaj materiału: polerowana stal szlachetna malowana proszkowo<br>
- waga całkowita: 22 kg<br>
- reflektor aluminiowy<br>
- automatyczne zabezpieczenie antywypływowe gazu po przechyleniu ze stabilnej pozycji pionowej
- moc grzewcza regulowana: 13kW, palnik o mocy odpowiadającej 14 kW<br>
- specjalny system overheat (zmniejszenie zużycia o 30%, zmniejszenie emisji CO2 o 30%)<br>
- promień grzewczy około 5,0m<br>
- rodzaj gazu: płynny propanbutan<br>
- czas zasilania jednej butli: 12-24 h<br>
- powierzchnia grzania: 25m3<br>
- w komplecie reduktor do podłączenia do butli gazowej<br>
<br>
<h2 style="display:inline; font-size:16px;">Parasole grzewcze </h2> idealnie nadają się na:
   </p>
    <ul>


    <li>imprezy plenerowe</li>
    <li>imprezy na przydomowym tarasie</li>
    <li>do ogródków restauracyjnych</li>
    <li>do ogrzewania namiotów</li>
    <li>do osuszania pomieszczeń</li>
    <li>wszędzie tam, gdzie zależy nam na efektywnym ogrzaniu przestrzeni/li>
    </ul>
    <p>
    <h2 style="display:inline; font-size:16px;">Koszt wynajmu parasoli grzewczych </h2> wynosi 120 PLN/szt w przypadku wynajmu bez butli.<br> Koszt wynajmu wraz z butlą 11 kg wynosi 175 PLN/szt.<br>
    Cena za wynajem na maksymalnie 3 dni. <br>
    Podane ceny są cenami netto. <br>
    <br>
    Uwaga! Jeżeli uda Ci się odnaleźć tańszą wypożyczalnię parasoli grzewczych o takich samych parametrach, stanie technicznym oraz jakości, daj nam znać.<br> 
    Przygotujemy specjalnie dla Ciebie ofertę o 10% niższą niż u konkurencji.
    </p>

    <%= partial 'galeria/galeria_nagrzewnice' %>

    


      </tbody>
    </table>
  </div>

</div>