---
title: Wynajem zastawy stołowej

keywords: wynajem zastawy stołowej Warszawa, wypożyczalnia zastawy stołowej Warszawa, zastawa stołowa na wynajem, wynajem naczyń, naczynia bankietowe, porcelana wynajem, wynajem zastawy stołowej cennik, 

description: Wynajem zastawy stołowej Warszawa. Wynajmujemy zastawę stołową i naczynia.
---



<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_oferta' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
<strong><h2 style="display:inline; font-size:20px;"> Wynajem zastawy stołowej- zestaw Premium </h2></strong> 
<br>
<br>
  <%= image_tag 'galeria/wyposazenie_dodatkowe/zastawa_stolowa/szklo/thumbs/kieliszek_do_szampana.jpg', class: 'pull-right img-thumbnail' %>
    <p>
       <strong>W skład zestawu wchodzi: </strong> <p>
      <li> Talerz obiadowy płaski 240 mm</li> 
      <li> Talerz deserowy płaski 170 mm</li> 
      <li> Talerz obiadowy głęboki 240 mm</li> 
      <li> Waza 3L+łyżka (1 szt/10 osób)</li> 
      <li> Filiżanka 200 ml ze spodkiem</li> 
      <li> Bulionówka 300 ml ze spodkiem</li> 
      <li> Sosjerka- (2 szt/10 osób)</li> 
      <li> cukierniczka z łyżeczką (1 szt/10 osób)</li> 
      <li> serwetnik (1 szt/10 osób)</li> 
      <li> salaterka 21 cm (1 szt/10 osób)</li> 
      <li> salaterka 28 cm (1 szt/10 osób)</li> 
      <li> Półmis 240 mm (1 szt/10 osób)</li> 
      <li> Półmis 330 mm (1 szt/10 osób)</li> 
      <li> Widelec obiadowy</li> 
      <li> Łyżka obiadowa</li> 
      <li> Nóż obiadowy</li> 
      <li> Łyżeczka do herbaty</li> 
      <li> Widelczyk deserowy</li> 
      <li> Literatka</li> 
      <li> Kieliszek do szampana</li>
      <li> Kieliszek do wódki</li>
      <li> Karafka (2 szt/10 osób)</li>
      <li> Kieliszek do wina</li> <p>
      <p>
      <strong>Koszt wynajmu 9,70 PLN netto/os. </strong> <p>
        </div>

</div>





