---
title: Wypożyczalnia namiotów Turbonamioty

keywords: wynajem lampek LEDowych, wypożyczalnia lampek choinkowych, lampki choinkowe, kolorowe lampki LED wynajem, wynajem oświetlenia LED warszawa

description: Wypożyczalnia namiotów Warszawa- wynajem lampek LED, Lampki LED wypożyczalnia, 
---

<div class="row">
  <div class="col-sm-12">
    <p>
    </p>
 <p class="lead"> <strong><h2 style="display:inline; font-size:18px;">Lampki LED </h2></strong></p>
      <a name="co_nas_wyroznia">
    
      </a>
        <div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
      <%= image_tag 'galeria/wyposazenie_dodatkowe/lampki_led/lampki_led_01.jpg', class: 'pull-right img-thumbnail' %>
      <p class="lead"> <strong><h2 style="display:inline; font-size:18px;">Wynajem lampek zewnętrznych LED </h2></strong></p>
     
     <strong> Koszt wynajmu lampek wynosi 20 PLN netto/szt.</strong>  </p>
  
  <p>
Lampki choinkowe kolorowe LED 400 szt.  <p>
Długość lampek wynosi 20 m.  <p>
Możliwość łączenia lampek w jeden długi sznur.  <p>
Lampki wielokolorowe- niebieski, zielony, czerowny i żółty.  <p>
  <p>


  </div>
</div>




