---
title: Wypożyczalnia namiotów Turbonamioty

keywords: wynajem łóżek wojskowych, wypożyczalnia łóżek polowych, łóżka polowe wynajem, łóżko składane wynajem, wynajem łóżek typu kanadyjka, łóżka wynajem warszawa, wynajem łóżek składanych warszawa,  

description: Wypożyczalnia namiotów Warszawa- wynajem łóżek polowych wojskowych typu kanadyjka
---

<div class="row">
  <div class="col-sm-12">
    <p>
    </p>
    <p class="lead"> <strong><h2 style="display:inline; font-size:18px;">Wynajem sprzętu noclegowego </h2></strong></p>
      <a name="co_nas_wyroznia">
    
      </a>

  
    
    <div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
        <%= image_tag 'galeria/wyposazenie_dodatkowe/nocleg/lozko_kanadyjka_01.jpg', class: 'pull-right img-thumbnail' %>
      <p class="lead"> <strong><h2 style="display:inline; font-size:22px;">Wynajem łóżek typu kanadyjka </h2></strong></p>

<strong>Koszt wynajmu łóżka wynosi 5 PLN netto/szt/doba. <br>
Przy dłuższych wynajmach cena znacząco maleje. </strong> </p>
<p>      
Łóżko polowe Teo to świetna oferta dla ludzi szukających lekkiego i stabilnego łóżka. Wykonane z mocnych stalowych profili z mechanizmami zatrzaskowymi. Jest lekkie i łatwo się je rozkłada. Poszycie wykonano z mocnego poliestru Oxford 600D. Idealne na biwak, camping, do ogrodu lub na taras.<br>
<p>
Specyfikacja:<p>
<p>
mechanizm zatrzaskowy profili<p>
materiał wykonania: stal i poliester Oxford 600D<p>
maksymalne obciążenie: 100 kg<p>
możliwość składania<p>
waga : 8,5 kg<p>
<p>
Wymiary:<p>
<p>
Długość całkowita: 190 cm<p>
Szerokość całkowita: 70 cm<p>
Szerokość miejsca do leżenia: 63 cm<p>
Wysokość: 44 cm<p>
Rozstaw nóg: 61x176 cm<p>

       



  </div>
</div>




