---
title: Wypożyczalnia namiotów Turbonamioty

keywords: wynajem materacy wojskowych, wypożyczalnia materaców wojskowych, materace wojskowe wynajem, materace wojskowe wynajem, wynajem materacy, łóżka wynajem warszawa, wynajem łóżek składanych warszawa,  

description: Wypożyczalnia namiotów Warszawa- wynajem materacy wojskowych polowych
---

<div class="row">
  <div class="col-sm-12">
    <p>
    </p>
    <p class="lead"> <strong><h2 style="display:inline; font-size:18px;">Wynajem sprzętu noclegowego </h2></strong></p>
      <a name="co_nas_wyroznia">
    
      </a>

  
    
    <div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
      <%= image_tag 'galeria/wyposazenie_dodatkowe/nocleg/materac_wojskowy_02.jpg', class: 'pull-right img-thumbnail' %>
      <p class="lead"> <strong><h2 style="display:inline; font-size:18px;">Wynajem materacy wojskowych </h2></strong></p>
  
      <p>
<strong> Koszt wynajmu materaca wynosi 5 PLN netto/szt/doba. <br>
Przy dłuższych wynajmach cena znacząco maleje. </strong> </p>

<p>
Oryginalne materace wojskowe, spód podgumowany 100% wodoodporny, wierzch bawełniany, wypełnienie środka ocieplaczem.
Materace idealnie nadają się na wszelkiego rodzaju biwaki, zloty, obozy, do przenocowania gości itp.<br>
<p>
Wymiary:<p>
<p>
długość: 180 cm<p>
<p>
szerokość: 65 cm<p>
<p>
wysokość: 5 cm<p>
<p>


       



  </div>
</div>




