---
title: Nagłośnienie i dekoracja świetlna imprez i konferencji

keywords: Wynajem oświetlenia dekoracyjnego, wypożyczalnia nagłośnienia, dekoracja światłem wynajem, wynajem nagłośnienia, nagłośnienie imprez, oświetlenie dekoracyjne warszawa

description: Oferujemy usługi wynajmu nagłośnienia oraz oświetlenia dekoracyjnego imprez okolicznościowych oraz konferencji.
---

<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_oferta' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
<%= image_tag 'galeria/6x12/namiot_cateringowy_6x12_34.jpg', class: 'pull-right img-thumbnail' %>
    <p>
    Bardzo chętnie podejmiemy się obsługi muzycznej i świetlnej imprez i eventów. Dysponujemy profesjonalnym sprzętem oraz rozmaitymi efektami świetlnymi, posiadamy między innymi:
    </p>
    <ul>
    <li>kolumny o mocy kilku tysięcy Wat</li>
    <li>wzmacniacze </li>
    <li>lasery świetlne</li>
    <li>listwy LED BAR</li>
    <li>stroboskopy</li>
    <li>wytwornice dymu</li>
    <li>kule obrotowe</li>
    <li>mikrofony</li>
    </ul>
    <p>
    Połączenie nowego sprzętu wysokiej jakości ze już zdobytym doświadczeniem i ograniem na różnego rodzaju imprezach,  zagwarantujemy doskonałą oprawę muzyczną i świetlną.
    </p>

    <p>
    Specjalizujemy się obsługą takich uroczystości jak:
    </p>
    <ul>
    <li> wesela</li>
    <li> urodziny</li>
    <li> studniówki</li>
    <li> osiemnastki</li>
    <li> imprezy klubowe</li>
    <li> bale karnawałowe i sylwestrowe</li>
    <li> imprezy firmowe i konferencje</li>
    </ul>
    <p>
    Gwarantujemy Państwu najwyższą jakość usług oraz pełne zadowolenie.
    </p>
    <%= image_tag 'galeria/6x12/namiot_cateringowy_6x12_11.jpg', class: 'pull-right img-thumbnail' %>


  </div>

</div>





