---
title:  Wynajem namiotów harcerskich- namioty harcerskie

keywords: wynajem namiotów wojskowych cena, wypożyczalnia namiotów harcerskich, wynajem namiotów militarnych, wypożyczalnia namiotów NS-64, wynajem namiotów cennik, wynajem łóżek i materacy wojskowych, łóżka polowe wypożyczalnia, materace wojskowe wypożyczalnia, koszt wynajmu namiotu, wyposażenie harcerskie Warszawa, namiot harcerski wynajem

description: Wynajem namiotów harcerskich i wojskowych Warszawa- Wypożyczalnia namiotów Warszawa Namioty harcerskie i wojskowe NS-64 wraz z materacami i łóżkami polowymi typu kanadyjka
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_oferta' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
<strong> <h1 style="display:inline; font-size:20px;">Namioty harcerskie wysokie</h1> </strong> 
<br>
<p>
    <strong>Namioty harcerskie W10</strong> to typowo noclegowe namioty stworzone dla harcerzy. Używane są podczas obozów, biwaków, zlotów, ale również żeby przenocować gości po imprezie okolicznościowej takiej jak urodziny, komunia czy też wesele. Namiotu także można użyć jako przydomowego magazynu, czy też garażu dla samochodu.<br>
    <strong>Wymiary namiotu harcerskiego</strong> to 4 na 5 metrów, o wysokości około 240cm. Dach oraz boki namiotów harcerskich wykonane są z grubego nieprzemakalnego brezentu. Stelaż namiotu harcerskiego wykonany jest z metalowych oraz aluminiowych rurek.
    Jest możliwość odbioru namiotu od wypożyczalni oraz rozstawienia we własnym zakresie.<br>
    Namioty harcerskie wysokie i niskie przeznaczone są do przenocowania maksymalnie 10 osób. <br>
    <strong>Oprócz namiotów, posiadamy także materace i łóżka polowe. </strong>Do większości samochodów osobowych bez problemu mieści się namiot wraz z 10 materacami wojskowymi i 10 łóżkami polowymi. Do wypożyczonego namiotu dołączamy instrukcję montażu.
</p>


    <%= partial 'galeria/galeria_harcerski' %>
    Zobacz także:<br>
    <a href="http://turbonamioty.pl/cennik.html" rel="publisher"><strong><h2 style="display:inline; font-size:16px;">Wynajem namiotów harcerskich - Cennik </h2></strong></a>
  </div>

</div>





