---
title: Wynajem namiotów wojskowych - namioty wojskowe NS-64

keywords: wynajem namiotów wojskowych cena, wypożyczalnia namiotów harcerskich, wynajem namiotów militarnych, wypożyczalnia namiotów NS-64, wynajem namiotów cennik, wynajem łóżek i materacy wojskowych, łóżka polowe wypożyczalnia, materace wojskowe wypożyczalnia, koszt wynajmu namiotu

description: Wynajem namiotów harcerskich i wojskowych NS-64 Warszawa- Wypożyczalnia namiotów Warszawa Namioty harcerskie i wojskowe NS-64 wraz z materacami i łóżkami polowymi typu kanadyjka
---

<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_oferta' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
     <strong> <h1 style="display:inline; font-size:20px;">Namioty wojskowe NS-64 </h1></strong> 
<br>
    <p><br>
      <strong>Namioty wojskowe NS-64 </strong>to najpopularniejszy rodzaj namiotów wojskowych. Namioty stworzone są do zapewnienia miejsc noclegowych podczas obozów, biwaków, zlotów, ale również żeby przenocować gości po imprezie okolicznościowej
      takiej jak urodziny, komunia czy też wesele. Namiotu wojskowego także można użyć jako przydomowego magazynu, czy też garażu dla samochodu. <br>
      W przeciwieństwie do namiotu harcerskiego, namiot wojskowy NS-64 nie posiada wsporników wewnątrz namiotu. Dodatkowo ma 6 okrągłych okien bocznych.
      Wymiary namiotu to 4 na 5 metrów, o wysokości około 220cm. Dach namiotu wojskowego wykonany jest z gumopodobnego nieprzemakalnego materiału. Ściany boczne wykonane są z grubego, nieprzemakalnego brezentu.
      Stelaż namiotu wykonany jest z stalowych rurek.<br>
      <strong><h2 style="display:inline; font-size:16px;">Wraz z namiotami wojskowymi jest możliwość wynajmu łóżek i materacy wojskowych. </h2> </strong><br>
      Namiot oraz łóżka i materace można odebrać z wypożyczalni osobiście. Do namiotu dołączamy instrukcję montażu.
    </p>


    <%= partial 'galeria/galeria_ns_64' %>

    Zobacz także:<br>
    <a href="http://turbonamioty.pl/cennik.html" rel="publisher"><strong><h2 style="display:inline; font-size:16px;">Wynajem namiotów wojskowych - Cennik </h2></strong></a>
  </div>

</div>





