---
title: Wynajem Hal Namiotowych 

keywords: wynajem Hal Namiotowych Warszawa, wypożyczalnia hal namiotowych, hale namiotowe wynajem, wynajem hal namiotowych, hale namiotowe wypożyczalnia, Wynajem hali namiotowej, Wypożyczalnia hali namiotowej

description: Wynajem hal namiotowych Warszawa.
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_oferta' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">

    <h1 style="display:inline; font-size:20px;">Wynajem Hal Namiotowych  Warszawa</h1>
    <p>
      <p>
     W związku z dynamicznym rozwojem firmy, wzbogaciliśmy naszą ofertę o wynajem hal namiotowych. Prezentujemy Państwu nowe, aluminiowe hale namiotowe, w których wysokość ściany bocznej wynosi 2,5 m. Poszycie wykonane jest zaś z wysokiej jakości PCV. W ramach usługi, którą jest wynajem hal namiotowych, stawiana jest solidna i wytrzymała konstrukcja, która pozwala na bezproblemową organizację imprez, nawet w bardzo wietrzne dni. </p>
<p>Możemy zaoferować Państwu następujące warianty poszycia hal: 
<ul>- biały dach, ściany białe pełne, bez okien;</ul>
<ul>- biały dach, ściany białe z oknami; </ul>
<ul>- dach przezroczysty, ściany przezroczyste;</ul>
<ul>- dowolne mieszanie powyższych, np część ścian pełnych, część przezroczystych </ul>
    </p>

    <p>
   Wynajem hal namiotowych można dodatkowo połączyć z wypożyczeniem specjalnej, dopasowanej podłogi.
    </p>
    Poniżej przedstawiamy rozmiary oraz ceny za wynajem hal namiotowych na określony czas. W przypadku wypożyczenia na dłuższy okres, koszt usługi ustalamy indywidualnie z klientem.
     <p>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th> Wielkość Hali Namiotowej</th>
        <th> 1 doba</th>
        <th> 2 doby</th>
        <th> 3 doby</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> Hala namiotowa 10x10</td>
        <td> 2 000 zł</td>
        <td> 3 000 zł</td>
        <td> 3 500 zł</td>
      </tr>
       <tr>
        <td> Hala namiotowa 10x15</td>
        <td> 3 000 zł</td>
        <td> 4 500 zł</td>
        <td> 5 000 zł</td>
      </tr>
      <tr>
        <td> Hala namiotowa 10x20</td>
        <td> 4 000 zł</td>
        <td> 6 000 zł</td>
        <td> 7 000 zł</td>
      </tr>
      <tr>
        <td> Hala namiotowa 10x25</td>
        <td> 5 000 zł</td>
        <td> 7 500 zł</td>
        <td> 9 000 zł</td>
      </tr>
      <tr>
        <td> Hala namiotowa 10x30</td>
        <td> 6 000 zł</td>
        <td> 9 000 zł</td>
        <td> 10 000 zł</td>
      </tr>
       <td> Podłoga do hali namiotowej</td>
        <td> 10 zł/m^2</td>
        <td> 15 zł/m^2</td>
        <td> 18 zł m^2</td>
      </tr>
      <tr>
      
      </tr>
      </tbody>

    </table>
    Podane ceny są cenami netto. Podana cena nie uzględnia transportu, który wyceniany jest indywidualnie w zależności od miejsca docelowego rozłozenia hali.
    Dla dłuższych terminów prosimy o kontakt telefoniczny w celu indywidualnej wyceny.








  </div>

</div>





