<div class="row">
  <%= image_list [
        
       
        ['wynajem_hal_namiotowych_01.jpg', 'Wynajem hali namiotowej 10x20.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_02.jpg', 'Wynajem hali namiotowej z ławostołami.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_03.jpg', 'Wynajem hali namiotowej 12x30 z podłogą.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_04.jpg', 'Wynajem hali namiotowej 12x30 Warszawa.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_05.jpg', 'Wynajem hali namiotowej 12x30.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_06.jpg', 'Wynajem hali namiotowej 10x20 Warszawa.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_07.jpg', 'Wynajem hali namiotowej 10x15 z podłogą.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_08.jpg', 'Wynajem hali namiotowej 10x15 Warszawa.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_09.jpg', 'Wynajem hali namiotowej 10x15.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_10.jpg', 'Wynajem hali namiotowej z podłogą.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_11.jpg', 'Wynajem hali namiotowej 10x25 z podłogą.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_12.jpg', 'Wynajem hali namiotowej 12x30.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_13.jpg', 'Wynajem hali namiotowej 12x20.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_14.jpg', 'Wynajem hali namiotowej 12x20 Gdańsk.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_15.jpg', 'Wynajem hali namiotowej 10x15 Gdańsk.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_16.jpg', 'Wynajem hali namiotowej 10x15 z podłogą.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_17.jpg', 'Wynajem hali namiotowej 12x20.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_18.jpg', 'Wynajem hali namiotowej 12x20.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_19.jpg', 'Wynajem hali namiotowej 10x15 Józefów k. Otwocka.', 'Wynajem hali namiotowej na evet firmowy'],
        ['wynajem_hal_namiotowych_20.jpg', 'Wynajem hali namiotowej z galą dekoracyjną.', 'Wynajem hali namiotowej na evet firmowy'],
        
        ['IMG_3659.jpg', 'Wynajem hali namiotowej.', 'Wynajem hali namiotowej na evet firmowy'],
        ['IMG_3666.jpg', 'Wynajem hali namiotowej.', 'Wynajem hali namiotowej na evet firmowy'],

        ['IMG_4019.jpg', 'Wynajem hali namiotowej.', 'Wynajem hali namiotowej na evet firmowy'],
        
        ['IMG_4021.jpg', 'Wynajem hali namiotowej.', 'Wynajem hali namiotowej na evet firmowy'],
        ['IMG_4097.jpg', 'Wynajem hali namiotowej.', 'Wynajem hali namiotowej na evet firmowy'],
         ['IMG_4099.jpg', 'Wynajem hali namiotowej.', 'Wynajem hali namiotowej na evet firmowy'],
          ['IMG_4102.jpg', 'Wynajem hali namiotowej.', 'Wynajem hali namiotowej na evet firmowy'],
        
       
      ],

      'hala', 'hala namotowa' %>
</div>

