<div class="row">
    <%= image_list [
        
       

        [' wynajem_nagrzewnic_01.jpg', 'Wynajem parasoli grzewczych. Uroczystość prywatna.', 'Wynajem parasoli grzewczych typu Piramida'],

        [' wynajem_nagrzewnic_02.jpg', 'Wynajem parasoli grzewczych.', 'Wynajem parasoli grzewczych typu Piramida. Warszawa'],

        [' wynajem_nagrzewnic_03.jpg', 'Wynajem parasoli grzewczych. Uroczystość prywatna.', 'Wynajem parasoli grzewczych'],

        [' wynajem_nagrzewnic_04.jpg', 'Wynajem parasoli grzewczych. Uroczystość weselna.', 'Wynajem parasoli grzewczych flame'],

        [' wynajem_nagrzewnic_05.jpg', 'Wynajem parasoli grzewczych. Uroczystość prywatna.', 'Wynajem parasoli grzewczych'],

        [' wwynajem_nagrzewnic_06.jpg', 'Wynajem parasoli grzewczych. Uroczystość prywatna.', 'Wynajem parasoli grzewczych'],

        [' wynajem_nagrzewnic_07.jpg', 'Wynajem parasoli grzewczych. Uroczystość prywatna.', 'Wynajem parasoli grzewczych'],
       
        [' pwynajem_nagrzewnic_08.jpg', 'Wynajem parasoli grzewczych. Wesele', 'Wynajem parasoli grzewczych'], 
        
       
      
      ],

      
                
      
     'wyposazenie_dodatkowe/parasol_grzewczy', 'Parasol grzewczy' %>
</div>

