<div class="row">

  <%= image_list [
        
       

        [' namiot_harcerski_1.jpg', 'Namiot harcerski wysoki W10', 'Namiot harcerski wysoki W10'],
       ['namiot_harcerski_2.jpg', 'Namiot harcerski wysoki W10', 'Namiot harcerski wysoki W10'],
        ['namiot_harcerski_3.jpg','Namiot harcerski wysoki W10', 'Namiot harcerski wysoki W10'],
       [' namiot_harcerski_4.jpg', 'Namiot harcerski wysoki W10', 'Namiot harcerski wysoki W10'],
       ['namiot_harcerski_5.jpg', 'Namiot harcerski wysoki W10', 'Namiot harcerski wysoki W10'],
        ['namiot_harcerski_6.jpg', 'Namiot harcerski wysoki W10', 'Namiot harcerski wysoki W10'],
        [' namiot_harcerski_7.jpg','Namiot harcerski wysoki W10', 'Namiot harcerski wysoki W10'],
       ['namiot_harcerski_8.jpg', 'Namiot harcerski wysoki W10', 'Namiot harcerski wysoki W10'],
        ['namiot_harcerski_9.jpg', 'Namiot harcerski wysoki W10', 'Namiot harcerski wysoki W10'],
        [' namiot_harcerski_10.jpg', 'Namiot harcerski wysoki W10', 'Namiot harcerski wysoki W10'],
       ['namiot_harcerski_11.jpg', 'Namiot harcerski wysoki W10', 'Namiot harcerski wysoki W10'],
        ['namiot_harcerski_12.jpg', 'Namiot harcerski wysoki W10', 'Namiot harcerski wysoki W10'],
        [' namiot_harcerski_13.jpg', 'Namiot harcerski wysoki W10', 'Namiot harcerski wysoki W10'],
       ['namiot_harcerski_14.jpg', 'Namiot harcerski wysoki W10', 'Namiot harcerski wysoki W10'],
        ['namiot_harcerski_15.jpg', 'Namiot harcerski wysoki W10', 'Namiot harcerski wysoki W10'],
        ['namiot_harcerski_16.jpg', 'Namiot harcerski wysoki W10', 'Namiot harcerski wysoki W10'],

      
      ],

      
                 'harcerski', 'Namiot harcerski wysoki W10' %>
</div>

