<div class="row">
  <%= image_list [
        
     

        ['namiot_cateringowy_5x8_1.jpg', 'Wynajem namiotu 5x8 na poprawiny. Nowy Dwór Mazowiecki', 'Wynajem namiotu 5x8 na poprawiny. Nowy Dwór Mazowiecki'],
        
         ['namiot_cateringowy_5x8_2.jpg', 'Wynajem namiotu 5x8 na uroczystość rodzinną. Warszawa', 'Wynajem namiotu 5x8 na uroczystość rodzinną. Warszawa'],
        ['namiot_cateringowy_5x8_3.jpg', 'Wynajem namiotu 5x10 na akcje wyprzedażową. Kraków', 'Wynajem namiotu 5x8 na iakcję wyprzedażową. Kraków.'],
        ['namiot_cateringowy_5x8_4.jpg', 'Wynajem namiotów na komunię.', 'Wynajem namiotów na komunię.'],
        ['namiot_cateringowy_5x8_5.jpg', 'Wynajem namiotów 5x8 na imprezę masową. Warszawa Park Bródnowski', 'Wynajem namiotów 5x8 na imprezę masową. Park Bródnowski'],
       ['namiot_cateringowy_5x8_6.jpg', 'Wynajem namiotów 5x8 na imprezę niespodziankę. Warszawa', 'Wynajem namiotów 5x8 na imprezę niespodziankę. Warszawa'],
        ['IMG_0019.jpg', 'Wynajem namiotów 5x8 na imprezę firmową. Karpacz', 'Wynajem namiotów 5x8 i 5x10 na imprezę firmową jako namioty noclegowe. Karpacz'],
        ['namiot_cateringowy_5x8_7.jpg', 'Wynajem namiotów 5x8 i 5x10 na zlot ZHP. Gdańsk Sobieszewo', 'Wynajem namiotów 5x8 i 5x10 na zlot ZHP. Gdańsk Sobieszewo'],
        ['namiot_cateringowy_5x8_8.jpg', 'Wynajem namiotu 5x8 na imprezę prywatną. Bemowo, Warszawa', 'Wynajem namiotu 5x8 na imprezę prywatną. Bemowo, Warszawa'],
        ['namiot_cateringowy_5x8_9.jpg', 'Wynajem namiotów 5x10 na imprezę firmową. Białystok ', 'Wynajem namiotów 5x10 na imprezę firmową. Białystok'],
        ['namiot_cateringowy_5x8_10.jpg', 'Wynajem namiotów na komunię. Warszawa Kobiałka', 'Wynajem namiotów na komunię. Warszawa Kobiałka'],
        ['namiot_cateringowy_5x8_11.jpg', 'Wynajem namiotów na poligon. Litwa.', 'Wynajem namiotów na poligon. Litwa.'],
        ['namiot_cateringowy_5x8_12.jpg', 'Wynajem namiotów na urodziny.', 'Wynajem namiotów na urodziny.'],
         ['namiot_cateringowy_5x8_13.jpg', 'Wynajem namiotów na imprezę firmową. Łochów', 'Wynajem namiotów na imprezę firmową. Łochów.'],
         ['namiot_cateringowy_5x8_14.jpg', 'Wynajem namiotów 5x8 i 5x10 na zlot ZHP. Gdańsk Sobieszewo', 'Wynajem namiotów 5x8 i 5x10 na zlot ZHP. Gdańsk Sobieszewo'],
         ['namiot_cateringowy_5x8_15.jpg', 'Wynajem namiotu 5x8 na wesele. Nieporęt', 'Wynajem namiotu 5x8 na wesele. Nieporęt'],
         ['namiot_cateringowy_5x8_16.jpg', 'Wynajem namiotów 5x8 i 5x10 na zlot ZHP. Gdańsk Sobieszewo', 'Wynajem namiotów 5x8 i 5x10 na zlot ZHP. Gdańsk Sobieszewo'],
        ['namiot_cateringowy_5x8_17.jpg', 'Wynajem namiotu 5x8 na komunię. Józefów', 'Wynajem namiotu 5x8 na komunię. Józefów'],
          ['namiot_cateringowy_5x8_18.jpg', 'Wynajem namiotów 5x10 na poligon. Litwa.', 'Wynajem namiotów 5x10 na poligon. Litwa.'],
         ['namiot_cateringowy_5x8_19.jpg', 'Wynajem namiotu 5x8 na komunię. Warszawa', 'Wynajem namiotu 5x8 na komunię. Warszawa'],
          
       
      ],

      '5x8', 'Namiot cateringowy 5x8' %>


</div>
