<div class="row">
    <%= image_list [
        
       

        [' wynajem_nagrzewnic_03.jpg', 'Wynajem parasoli grzewczych. Uroczystość prywatna.', 'Wynajem parasoli grzewczych na Sylwestra'],

        [' wynajem_nagrzewnic_02.jpg', 'Wynajem parasoli grzewczych. Impreza plenerowa.', 'Wynajem parasoli grzewczych na jarmark bożonarodzeniowy'],

        [' wynajem_nagrzewnic_04.jpg', 'Wynajem parasoli grzewczych. Uroczystość prywatna.', 'Wynajem parasoli grzewczych'],

        [' wynajem_nagrzewnic_01.jpg', 'Wynajem parasoli grzewczych. Uroczystość prywatna.', 'Wynajem parasoli grzewczych'],

        [' wynajem_nagrzewnic_05.jpg', 'Wynajem parasoli grzewczych. Uroczystość prywatna.', 'Wynajem parasoli grzewczych'],

        [' wynajem_nagrzewnic_08.jpg', 'Wynajem parasoli grzewczych. Uroczystość prywatna.', 'Wynajem parasoli grzewczych'],
       
        [' wynajem_nagrzewnic_07.jpg', 'Wynajem parasoli grzewczych. Wesele', 'Wynajem parasoli grzewczych'], 
        
       
      
      ],

      
                
      
     'wyposazenie_dodatkowe/parasol_grzewczy', 'Parasol grzewczy' %>
</div>

