
<div class="row">
  <%= image_list [
        
       

        ['namiot_NS-64_1.jpg', 'Wynajem namiotów wojskowych Ns-64. Kraków', 'Wynajem namiotów wojskowych Ns-64. Kraków'],
        ['namiot_NS-64_2.jpg', 'Namioty Wojskowe NS-64.', 'Namioty Wojskowe 10 osobowe.'],
        ['namiot_NS-64_3.jpg', 'Namioty Wojskowe NS-64.', 'Namioty Wojskowe 10 osobowe.'],
        ['namiot_NS-64_4.jpg', 'Namioty Wojskowe NS-64 oraz łózka i materace wojskowe', 'Namioty Wojskowe NS-64 oraz łózka i materace wojskowe'],
        ['namiot_NS-64_5.jpg', 'Wynajem namiotów wojskowych Ns-64.', 'Wynajem namiotów wojskowych Ns-64'],
        ['namiot_NS-64_6.jpg', 'Wynajem namiotów wojskowych Ns-64.', 'Wynajem namiotów wojskowych Ns-64'],
        ['namiot_NS-64_7.jpg', 'Wynajem namiotów wojskowych Ns-64.', 'Wynajem namiotów wojskowych Ns-64'],
        ['namiot_NS-64_8.jpg', 'Wynajem namiotów wojskowych Ns-64 z łózkami i materacami.', 'Wynajem namiotów wojskowych Ns-64 z łózkami i materacami.'],
        ['namiot_NS-64_9.jpg', 'Wynajem namiotów wojskowych Ns-64.', 'Wynajem namiotów wojskowych Ns-64'],
        ['namiot_NS-64_10.jpg', 'Wynajem namiotów wojskowych Ns-64 z łózkami i materacami.', 'Wynajem namiotów wojskowych Ns-64 z łózkami i materacami.'],
        ['namiot_NS-64_11.jpg', 'Wynajem namiotów wojskowych Ns-64.', 'Wynajem namiotów wojskowych Ns-64'],
        ['namiot_NS-64_12.jpg', 'Wynajem namiotów wojskowych Ns-64 z wyposażeniem.', 'Wynajem namiotów wojskowych Ns-64 z wyposażeniem.'],
],
      'ns_64', 'Namiot ekspresowy 3x3m' %>
</div>