<div class="row">
    <%= image_list [
        
       

        [' wynajem_parasoli_grzewczych_warszawa_1.jpg', 'Wynajem parasoli grzewczych. Uroczystość prywatna.', 'Wynajem parasoli grzewczych na Sylwestra'],

        [' wynajem_parasoli_grzewczych_warszawa_2.jpg', 'Wynajem parasoli grzewczych. Impreza plenerowa.', 'Wynajem parasoli grzewczych na jarmark bożonarodzeniowy'],

        [' wynajem_parasoli_grzewczych_warszawa_3.jpg', 'Wynajem parasoli grzewczych. Uroczystość prywatna.', 'Wynajem parasoli grzewczych'],

        [' wynajem_parasoli_grzewczych_warszawa_4.jpg', 'Wynajem parasoli grzewczych. Uroczystość prywatna.', 'Wynajem parasoli grzewczych'],

        [' wynajem_parasoli_grzewczych_warszawa_5.jpg', 'Wynajem parasoli grzewczych. Uroczystość prywatna.', 'Wynajem parasoli grzewczych'],

        [' wynajem_parasoli_grzewczych_warszawa_6.jpg', 'Wynajem parasoli grzewczych. Uroczystość prywatna.', 'Wynajem parasoli grzewczych'],

        [' wynajem_parasoli_grzewczych_warszawa_7.jpg', 'Wynajem parasoli grzewczych. Uroczystość prywatna.', 'Wynajem parasoli grzewczych'],
       
        [' parasol_grzewczy3.jpg', 'Wynajem parasoli grzewczych. Wesele', 'Wynajem parasoli grzewczych'], 
        
       
      
      ],

      
                
      
     'wyposazenie_dodatkowe/parasol_grzewczy', 'Parasol grzewczy' %>
</div>

