<div class="row">
  <%= image_list [
        
       

        ['namiot_ekspresowy_3x6_1.jpg', 'Wynajem namiotów ekspresowych białych 3x6. Jabłonna koło Legionowa', 'Miasteczko z namiotów ekspresowych. Piknik w Jabłonnie'],
       ['namiot_ekspresowy_3x6_2.jpg', 'Wynajem namiotów ekspresowych 3x6. Kutno.', 'Wynajem namiotów ekspresowych 3x6. Kutno.'],
        ['namiot_ekspresowy_3x6_3.jpg', 'Wynajem namiotów ekspresowych 3x6. Błonia Stadionu Narodowego, Warszawa.', 'Wynajem namiotów ekspresowych 3x6. Błonia Stadionu Narodowego, Warszawa'],
       ['namiot_ekspresowy_3x6_4.jpg', 'Wynajem namiotów ekspresowych 3x6. Bulwary Wiślane, Warszawa.', 'Wynajem namiotów ekspresowych 3x6. Bulwary Wiślane, Warszawa'],
        
        ['namiot_ekspresowy_3x6_5.jpg', 'Wynajem Namiotów ekspresowych 3x6 na piknik w Jabłonnie', 'Namioty ekspresowe 3x6. Pałac w Jabłonnie'],
        ['namiot_ekspresowy_3x6_6.jpg', 'Wynajem Namiotów ekspresowych 3x3 Lubań', 'Namioty ekspresowe białe 3x6 na Rynku w Lubaniu.'],
        ['namiot_ekspresowy_3x6_7.jpg', 'Wynajem Namiotów ekspresowych 3x3 i 3x6 na imprezę firmową w Warszawie', 'Wynajem Namiotów ekspresowych 3x3 i 3x6 na imprezę firmową w Warszawie'],
         ['namiot_ekspresowy_3x6_8.jpg', 'Wynajem Namiotów ekspresowych 3x6 na imprezę plenerową. Warszawa Sadyba', 'Wynajem Namiotów ekspresowych białych 3x6 na imprezę plenerową w Warszawie.'],
       ['namiot_ekspresowy_3x6_9.jpg', 'Wynajem Namiotów ekspresowych 3x6 na imprezę prywatną. Nieporęt', 'Wynajem Namiotów ekspresowych 3x6 na imprezę prywatną. Nieporęt'],
         ['namiot_ekspresowy_3x6_10.jpg', 'Wynajem Namiotów ekspresowych 3x3 i 3x6 na imprezę plenerową. Jabłonna', 'Wynajem Namiotów ekspresowych białych 3x3 na imprezę plenerową w Jabłonnie'],
      ['namiot_ekspresowy_3x6_11.jpg', 'Wynajem Namiotów ekspresowych 3x6 na imprezę firmową w Warszawie', 'Wynajem Namiotów ekspresowych 3x6 na imprezę firmową w Warszawie'],
       ['namiot_ekspresowy_3x6_12.jpg', 'Wynajem Namiotów ekspresowych 3x6 na imprezę rodzinną w Warszawie', 'Wynajem Namiotów ekspresowych 3x6 na imprezę rodzinną w Warszawie'],
          ['namiot_ekspresowy_3x6_13.jpg', 'Wynajem namiotów ekspresowych białych 3x6. Warszawa Targówek', 'Impreza pracownicza, Warszawa Targówek'],
      
         ['namiot_ekspresowy_3x6_14.jpg', 'Wynajem Namiotów ekspresowych białych 3x3 i 3x6 na imprezę firmową. Celestynów', 'Namioty ekspresowe 3x6 i 3x3'],
        ['namiot_ekspresowy_3x6_15.jpg', 'Wynajem namiotów ekspresowych 3x6. Warszawa Powiśle.', 'Wynajem namiotów ekspresowych 3x6. Impreza firmowa, Warszawa Powiśle'],
       ['namiot_ekspresowy_3x6_16.jpg', 'Wynajem Namiotów ekspresowych 3x6 na imprezę rodzinną w Warszawie', 'Wynajem Namiotów ekspresowych 3x6 na imprezę rodzinną w Warszawie'],
       ['namiot_ekspresowy_3x6_17.jpg', 'Wynajem Namiotów ekspresowych białych 3x3 i 3x6 na festyn. Warszawa', 'Namioty ekspresowe 3x3 i 3x6'],
         ['namiot_ekspresowy_3x6_18.jpg', 'Wynajem Namiotów ekspresowych 3x3 i 3x6 na festyn. Warszawa', 'Namioty ekspresowe 3x3 i 3x6'],
       
        
      
      ],

      '3x6', 'Namiot ekspresowy 3x6m' %>
</div>