<div class="row">
  <%= image_list [
        
       

        ['wynajem_namiotow_4x8_01.jpg', 'Wynajem namiotu ekspresowego białego 4x8. Pułtusk', 'Wynajem namiotu ekspresowego białego 4x8. Pułtusk'],


        ['wynajem_namiotow_4x8_02.jpg', 'Wynajem namiotu ekspresowego białego 4x8. Pułtusk', 'Wynajem namiotu ekspresowego białego 4x8. Pułtusk'],


        ['wynajem_namiotow_4x8_03.jpg', 'Wynajem namiotu ekspresowego białego 4x8. Legionowo', 'Wynajem namiotu ekspresowego białego 4x8. Legionowo'],


        ['wynajem_namiotow_4x8_04.jpg', 'Wynajem namiotu ekspresowego białego 4x8. Warszawa Wilanów', 'Wynajem namiotu ekspresowego białego 4x8. Warszawa Wilanów'],


        ['wynajem_namiotow_4x8_05.jpg', 'Wynajem namiotu ekspresowego białego 4x8. Pułtusk', 'Wynajem namiotu ekspresowego białego 4x8. Pułtusk'],


        ['wynajem_namiotow_4x8_06.jpg', 'Wynajem namiotów ekspresowych białych 4x8. Warszawa', 'Wynajem namiotów ekspresowych białych 4x8. Warszawa'],


        ['wynajem_namiotow_4x8_07.jpg', 'Wynajem namiotów ekspresowych białych 4x8. Warszawa', 'Wynajem namiotów ekspresowych białych 4x8. Warszawa'],


        ['wynajem_namiotow_4x8_08.jpg', 'Wynajem namiotów ekspresowych białych 4x8. Warszawa', 'Wynajem namiotów ekspresowych białych 4x8. Warszawa'],


       
      
       
        
      
      ],

      '3x6', 'Namiot ekspresowy 3x6m' %>
</div>