<div class="row">
  <%= image_list [
        
         ['6x12_4.jpg', 'Wynajem namiotów na targi. Łódź', 'Wynajem namiotów na Targi. Łódź'],

        ['namiot_cateringowy_6x12_1.jpg', 'Wynajem namiotów na imprezę firmową. Klembów', 'Wynajem namiotów na imprezę firmową. Klembów.'],
        
        ['namiot_cateringowy_6x12_2.jpg', 'Wynajem namiotu na imprezę okolicznościową. Grodzisk Mazowiecki', 'Namiot imprezowy 6x12 Grodzisk Mazowiecki'],
        ['namiot_cateringowy_6x12_3.jpg', 'Wynajem namiotów 6x12 na Juwenalia Politechniki Warszawskiej', 'Wynajem namiotów 6x12 na Juwenalia Politechniki Warszawskiej'],
        ['namiot_cateringowy_6x12_4.jpg', 'Wynajem namiotów na komunię. Skępe.', 'Wynajem namiotów na komunię. Skępe.'],
        ['namiot_cateringowy_6x12_5.jpg', 'Wynajem namiotów 6x12 na imprezę firmową. Serock', 'Wynajem namiotów 6x12 na imprezę firmową. Serock'],
        ['namiot_cateringowy_6x12_6.jpg', 'Wynajem namiotów 6x12. Poznań', 'Wynajem namiotu 6x12 Poznań'],
        ['namiot_cateringowy_6x12_7.jpg', 'Wynajem namiotów 6x12 na imprezę okolicznościową. Warszawa Białołęka', 'Wynajem namiotów 6x12 na imprezę okolicznościową. Warszawa Białołęka'],
        ['namiot_cateringowy_6x12_8.jpg', 'Wynajem namiotów 6x12 na dni Miasta Elbląg.', 'Wynajem namiotów 6x12 na dni Miasta Elbląg'],
        ['namiot_cateringowy_6x12_9.jpg', 'Wynajem namiotów 6x12 na imprezę firmową. Poznań', 'Wynajem namiotów 6x12 na imprezę firmową. Poznań'],
        ['namiot_cateringowy_6x12_10.jpg', 'Wynajem namiotów 6x12 na zabawę Sylwestrową. Legionowo', 'Wynajem namiotów 6x12 na zabawę Sylwestrową. Legionowo'],
        ['namiot_cateringowy_6x12_11.jpg', 'Wynajem namiotów 6x12 na zabawę Sylwestrową. Legionowo', 'Wynajem namiotów 6x12 na zabawę Sylwestrową. Legionowo'],
        ['namiot_cateringowy_6x12_12.jpg', 'Wynajem namiotów 6x12 na zabawę Sylwestrową. Legionowo', 'Wynajem namiotów 6x12 na zabawę Sylwestrową. Legionowo'],
         ['namiot_cateringowy_6x12_13.jpg', 'Wynajem namiotów 6x12 na dni Jabłonny. ', 'Wynajem namiotów 6x12 na dni Jabłonny'],
         ['namiot_cateringowy_6x12_14.jpg', 'Wynajem namiotów 6x12 na zlot ZHP Gdańsk Sobieszewo', 'Wynajem namiotów 6x12 na zlot ZHP Gdańsk Sobieszewo.'],
         ['namiot_cateringowy_6x12_15.jpg', 'Wynajem namiotów 6x12 na piknik. Łódź', 'Wynajem namiotów 6x12 na piknik. Łódź'],
         ['namiot_cateringowy_6x12_16.jpg', 'Wynajem namiotów 6x12 na imprezę plenerową. Otwock', 'Wynajem namiotów 6x12 na imprezę plenerową. Otwock'],
         ['namiot_cateringowy_6x12_17.jpg', 'Wynajem namiotu 6x12 na turniej. Warszawa', 'Wynajem namiotu 6x12 na turniej. Warszawa'],
         ['namiot_cateringowy_6x12_18.jpg', 'Wynajem namiotów 6x12 na imprezę firmową. Góra Kalwaria', 'Wynajem namiotów 6x12 na imprezę firmową.'],
         ['namiot_cateringowy_6x12_19.jpg', 'Wynajem namiotu 6x12 na komunię. Warszawa', 'Wynajem namiotu 6x12 na komunię. Warszawa'],
         ['namiot_cateringowy_6x12_20.jpg', 'Wynajem namiotu 6x12 na komunię. Kobiałka', 'Wynajem namiotu 6x12 na komunię. Kobiałka'],
         ['namiot_cateringowy_6x12_21.jpg', 'Wynajem namiotów 6x12 na piknik. Łomianki', 'Wynajem namiotów 6x12 na piknik. Łomianki'],
         
      ],

      '6x12', 'Namiot cateringowy 6x12' %>
</div>

