---
title: Wypożyczalnia namiotów Turbonamioty

keywords: wynajem namiotów Warszawa, wypożyczalnia namiotów warszawa, namioty ogrodowe na komunie, namioty ekspresowe 3x3 i 3x6, wynajem łóżek i materacy polowych harcerskich, parasole grzewcze wynajem warszawa, ogrzewanie do namiotów, wynajem stołów i krzeseł, namioty biesiadne

description: Wypożyczalnia namiotów Warszawa- wynajem namiotów weselnych cennik, harcerskich, ogrodowych, na imprezy, ekspresowe, na komunie 3x3, 3x6, 5x8, 6x12, wynajem podłogi do namiotów
---

<div class="row">
  <div class="col-sm-12">
    <p>
    </p>

      <a name="co_nas_wyroznia">
    
      </a>
      <%= image_tag 'galeria/3x3/thumbs/namiot_ekspresowy_3x3_22.jpg', class: 'pull-right img-thumbnail' %>
      <p class="lead"> <strong><h2 style="display:inline; font-size:18px;">Wypożyczalnia namiotów Turbonamioty </h2></strong></p>
      <p> Szanowny Państwo,<p>
Zgodnie z art. 13 ust. 1 Rozporządzenia Parlamentu Europejskiego i Rady UE 2016/679
z 27 kwietnia 2016r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych osobowych – dalej RODO), uprzejmie informujemy że:
Administratorem Pani/Pana danych osobowych jest Wypożyczalnia Eventowa Turbonamioty Jakub Jankowski. Ul. Przyszlosc 100, 05-126 Stanisławów Pierwszy, NIP 536-187-11-09. <p>
Pani/Pana dane osobowe przetwarzane będą w celu prowadzonych przez Wypożyczalnię usług wynajmu sprzętu eventowego.
Podanie przez Pana/Panią danych osobowych jest dobrowolne, ale niezbędne do realizacji ww. usług, a  konsekwencją niepodania danych osobowych będzie brak możliwości ich świadczenia.<p>
Posiada Pani/Pan prawo dostępu do treści swoich danych oraz ich poprawiania, sprostowania  usunięcia lub ograniczenia przetwarzania, prawo do przenoszenia danych, cofnięcia zgody jeśli była wyrażona  oraz prawo wniesienia skargi do organu nadzorczego.<p>
Przetwarzanie  będzie odbywało się wyłącznie w zakresie niezbędnym do świadczenia usług i ewentualnych roszczeń z nią związanych.
Pani/ Pana dane osobowe osób, opisane powyżej nie będą przekazywane podmiotom trzecim.<p>
W oparciu o dane osobowe Wypożyczalnia Eventowa Turbonamioty nie będzie podejmowała zautomatyzowanych decyzji, w tym decyzji będących wynikiem profilowania w rozumieniu RODO.<p>
Przysługuje Pani/Panu prawo wniesienia skargi do organu nadzorczego (Prezesa Urzędu Ochrony Danych Osobowych) w przypadku, gdy przetwarzanie danych osobowych narusza przepisy o ochronie danych osobowych.

       
    </p>
    <p>
        
    




  </div>
</div>




