---
title: Wynajem stołów

keywords: wynajem stołów Warszawa, wypożyczalnia stołów Warszawa, stoły na wynajem, stoły cateringowe, stoły bankietowe, stół wynajem, wynajem stołów cennik, 

description: Wynajem stołów Warszawa. Wynajmujemy stoły cateringowe, biesiadne, weselne, na urodziny i bankiety. 
---



    <strong> <h1 style="display:inline; font-size:20px;">Tekstylia   </h1></strong>
<br>
<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_akcesoria' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">


    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/pokrowce_i_obrusy/obrus_bialy_duzy.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Obrus biały', '/oferta/tekstylia/wynajem_obrusow_01.html' %>

            </h3>

            <p>Obrus plamoodporny 260x160 cm
<p>
<p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/pokrowce_i_obrusy/obrus_czarny_stretch.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Obrus stretch czarny       ', '/oferta/tekstylia/wynajem_obrusow_02.html' %>

            </h3>
<p> 
            <p>Obrus 245x75      
             

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/pokrowce_i_obrusy/obrus_stretch_bialy.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Obrus stretch mały       ', '/oferta/tekstylia/wynajem_obrusow_03.html' %>

            </h3>
<p> 
            <p>Obrus na stolik koktajlowy biały     
             

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/pokrowce_i_obrusy/obrus_czerwony_stretch.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Obrus stretch mały       ', '/oferta/tekstylia/wynajem_obrusow_04.html' %>

            </h3>
<p> 
            <p>Obrus na stolik koktajlowy czerwony     
             

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/pokrowce_i_obrusy/thumbs/obrus_okragly_01.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Obrus okrągły        ', '/oferta/tekstylia/wynajem_obrusow_05.html' %>

            </h3>
<p> 
            <p>Obrus na stół okrągły 180 cm     
             

          </div>
        </div>
      </div>




       <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/pokrowce_i_obrusy/thumbs/pokrowiec_iso.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Pokrowiec ISO biały       ', '/oferta/tekstylia/wynajem_pokrowcow_01.html' %>

            </h3>
<p> 
            <p>Pokrowiec na krzesło typu ISO      
             

          </div>
        </div>
      </div>

<div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/pokrowce_i_obrusy/thumbs/pokrowiec_krzeslo_bankietowe.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Pokrowiec strech       ', '/oferta/tekstylia/wynajem_pokrowcow_02.html' %>

            </h3>
<p> 
            <p> Pokrowiec biały na krzesło bankietowe     
             

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/pokrowce_i_obrusy/thumbs/kokarda_biala_01.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Kokarda biała       ', '/oferta/tekstylia/wynajem_kokard_01.html' %>

            </h3>
<p> 
            <p> Kokarda elastyczna na krzesło     
             

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/pokrowce_i_obrusy/thumbs/kokarda_czerwona_01.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Kokarda czerwowa       ', '/oferta/tekstylia/wynajem_kokard_02.html' %>

            </h3>
<p> 
            <p> Kokarda elastyczna na krzesło     
             

          </div>
        </div>
      </div>

       <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/pokrowce_i_obrusy/thumbs/czerwony_dywan.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Czerwony dywan       ', '/oferta/tekstylia/wynajem_czerwonego_dywanu.html' %>

            </h3>
<p> 
            <p> Wynajem czerwonego dywanu     
             

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'galeria/wyposazenie_dodatkowe/pokrowce_i_obrusy/thumbs/wykladzina_wynajem.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Wykładzina podłogowa       ', '/oferta/tekstylia/wynajem_wykladziny.html' %>

            </h3>
<p> 
            <p> Wynajem wykładzin na podłogi     
             

          </div>
        </div>
      </div>

     

      <br>   

   

    


      </tbody>
    </table>
  </div>

</div>





