---
title: Wynajem fontanny czekoladowej 

keywords: wynajem fontanny czekoladowej, fontanna czekoladowa na wesele, wypożyczalnia fontanny czekoladowej, tania fontanna czekoladowa Warszawa

description: Wynajem fontanny czekoladowej Warszawa. Na wesele, komunie i inne uroczystości.
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_promocje' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <p class="lead">
      Fontanna czekoladowa tylko 200 PLN do 2 dni!!
    </p>
    <p>
    Trójstopniowa fontanna czekoladowa o wysokości ok 55cm. Możliwość wyboru pomiędzy czekoladą deserową, gorzką oraz białą. W zestawie z fontanną jest już 1kg belgijskiej czekolady!
    </p>

  </div>

</div>





