---
title: Propozycje namiotu na uroczystość do 20 osób

keywords: namiot komunijny wynajem, wynajmę namiot na komunię Warszawa, wynajem namiotów komunijnych, wypożyczalnia namiotów komunijnych, namiot komunia, tani namiot na komunię, namiot na 20 osób

description: Wynajem namiotów komunijnych Warszawa. Tanie namioty na komunie, wypożyczalnia namiotów. 
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_promocje' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <p class="lead">
      <h2> Wynajem namiotów na komunię do 20 osób</h2>
      <p>
    <p>
    <p>
       <%= image_tag 'galeria/3x6/namiot_ekspresowy_3x6_31.jpg', class: 'pull-right img-thumbnail' %>
<h4> Zestaw Ł20. Koszt 335 PLN netto. W skład zestawu wchodzi:</h4>
    <p>
      </p>
    <ul>
   <h5> <li> namiot ekspresowy 3x6 m z 3 pełnymi ścianami bocznymi bez okienek (2 krótkie i 1 długa)</li>
    <li> 3 stoły 220x50cm</li>
    <li> 6 ławki 220x25cm</li></h5>
     Niewielkie gabaryty złożonego sprzętu pozwalają na odbiór osobisty prywatnym samochodem osobowym.
  <p>
<p>
  
  Opcjonalnie do zestawu można zamówić dodatkowo:
  <p>
    <li> namiot 3x3 biały jako dostawka +160 PLN/szt</li>
    <li> oświetlenie 2 lampiony +20 PLN </li>
    <li> zamiana na stół 245x75 lub odpowiadający +10 PLN</li>
    <li> obrus biały +20 PLN</li>
    <li> grill węglowy+ 50 PLN</li>
    <li> grill gazowy+ 250 PLN</li>
    <li> parasol grzewczy typu Grzybek+ 175 PLN</li>
    <li> podłoga z płyty mfp + 180 PLN</li>
    <li> wykładzina + 90 PLN</li>
    <li> warnik do gorących napojów o pojemności ok 6,8l. + 25 PLN</li>
    <li> zastawa stolowa + 10 PLN/os</li>
<p>
  <p>
Podane ceny są cenami netto. <p>
Transport to dodatkowy koszt 1,5 PLN netto/km (dla samochodu do 3,5T).<p>
Montaż oraz demontaż dodatkowo płatne w zależności od odległości.
</p></ul>
  <%= image_tag 'galeria/3x6/namiot_ekspresowy_3x6_30.jpg', class: 'pull-right img-thumbnail' %>
<h4> Zestaw K20. Koszt 470 PLN netto. W skład zestawu wchodzi:</h4>
    </p>
    <ul>
    <h5><li> namiot ekspresowy 3x6 m z 3 pełnymi ścianami bocznymi bez okienek (2 krótkie i 1 długa)</li>
    <li> 2 stoły 245x75cm lub odpowiadające</li>
    <li> 2 obrusy na stoły</li>
    <li> 20 krzeseł </li></h5>
  <p>
<p>

  Opcjonalnie do zestawu można zamówić dodatkowo:
  <p>
    <li> oświetlenie 2 lampiony +20 PLN</li>
    <li> białe pokrowce na krzesła +7 PLN/szt</li>
    <li> namiot 3x3 biały jako dostawka +160 PLN/szt</li>
    <li> grill węglowy + 50 PLN</li>
    <li> grill gazowy+ 250 PLN</li>
    <li> parasol grzewczy typu Grzybek+ 175 PLN</li>
    <li> podłoga z płyty mfp + 180 PLN</li>
    <li> wykładzina + 90 PLN</li>
    <li> warnik do gorących napojów o pojemności ok 6,8l. + 25 PLN</li>
    <li> zastawa stolowa + 10 PLN/os</li>
<p>
  <p>
Podane ceny są cenami netto. <p>
Transport to dodatkowy koszt 1,5 PLN netto/km (dla samochodu do 3,5T).<p>
Montaż oraz demontaż dodatkowo płatne w zależności od odległości.
<p></ul>
   <%= image_tag 'galeria/3x6/namiot_ekspresowy_3x6_32.jpg', class: 'pull-right img-thumbnail' %>
<h4> Zestaw P20. Koszt 1160 PLN netto. W skład zestawu wchodzi:</h4>
    </p>
    <ul>
    <h5><li> namiot ekspresowy 3x6 m z 3 pełnymi ścianami bocznymi bez okienek (2 krótkie i 1 długa)</li>
    <li> namiot 3x3 biały</li>
    <li> 3 stoły 245x85cm</li>
    <li> 3 obrusy na stoły</li>
    <li> 20 krzeseł </li>
    <li> 20 białych pokrowców na krzesła </li>
    <li> podłoga </li>
    <li> wykładzina </li>
    <li> oświetlenie </li>
    <li> warnik </li>
    </h5>
  <p>
<p>

  Opcjonalnie do zestawu można zamówić dodatkowo:
  <p>

   
    <li> grill węglowy + 50 PLN</li>
    <li> grill gazowy+ 250 PLN</li>
    <li> parasol grzewczy typu Grzybek+ 175 PLN</li>
    <li> zastawa stolowa + 10 PLN/os</li>

    
<p>
  <p>
Podane ceny są cenami netto. <p>
Transport to dodatkowy koszt 1,5 PLN netto/km (dla samochodu do 3,5T).<p>
Montaż oraz demontaż dodatkowo płatne w zależności od odległości.


    </ul>
<%= partial 'galeria/galeria_3x6' %>
  </div>

</div>





