---
title: Wynajem namiotów -  Namiot na komunie

keywords: namiot komunijny wypożyczalnia, wypożyczę namiot na komunię Warszawa, wynajem namiotów komunijnych, wypożyczalnia namiotów komunijnych, namiot komunia, tani namiot na komunię, namiot na 30 os

description: Wypożyczalnia namiotów komunijnych Warszawa. Tanie namioty na komunie, wynajem namiotów
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_promocje' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
     <p class="lead">
    <h1> Wypożyczalnia namiotów na komunię</h1>

       <%= image_tag 'galeria/3x6/namiot_ekspresowy_3x6_33.jpg', class: 'pull-right img-thumbnail' %>
<h3> Zestaw K30. Koszt 820 PLN netto. W skład zestawu wchodzi:</h3>
    </p>
    <ul>
    <h5> <li> 2 namioty ekspresowe 3x6 m z 3 pełnymi ścianami bocznymi bez okienek (2 krótkie i 1 długa) połączone w namiot 3x12 m lub 6x6 m </li>
    <li> 4 stoły 245x75cm lub odpowiadające</li>
    <li> 4 obrusy na stoły</li>
    <li> 30 krzeseł typu Party</li></h5>
    <p>
<p>

  Opcjonalnie do zestawu można zamówić dodatkowo:
  <p>
     <li> oświetlenie 2 lampiony +20 PLN</li>
    <li> białe pokrowce na krzesła +7 PLN/szt</li>
    <li> grill + 50 PLN</li>
    <li> podłoga z płyty mfp + 360 PLN</li>
    <li> wykładzina + 180 PLN</li>
    <li> warnik do gorących napojów o pojemności ok 6,8l. + 25 PLN/szt</li>
     <li> grill węglowy+ 50 PLN</li>
    <li> grill gazowy+ 250 PLN</li>
    <li> parasol grzewczy typu Grzybek+ 175 PLN</li>
    <li> zastawa stolowa + 10 PLN/os</li>
    </ul>
     Podane ceny są cenami netto. <p>
Transport to dodatkowy koszt 1,5 PLN netto/km (dla samochodu do 3,5T).<p>
Montaż oraz demontaż dodatkowo płatne w zależności od odległości.</ul>

        <%= image_tag 'galeria/5x8/namiot_cateringowy_5x8_33.jpg', class: 'pull-right img-thumbnail' %><p>
    <h3> Zestaw K50. Koszt 1235 PLN netto. W skład zestawu wchodzi:</h3>
    </p>
    <ul>
    <h5> <li> namiot cateringowy 5x8</li>
    <li> 7 stołów 245x75cm lub odpowiadające</li>
    <li> 7 obrusów na stoły</li>
    <li> 50 krzeseł typu Party</li>
    <li> oświetlenie 2 lampiony</li>
   
  <p>
<p>

  Opcjonalnie do zestawu można zamówić dodatkowo:
  <p>
    <li> białe pokrowce na krzesła +7 PLN/szt</li>
    <li> grill węglowy+ 50 PLN</li>
    <li> grill gazowy+ 250 PLN</li>
    <li> parasol grzewczy typu Grzybek+ 175 PLN</li>
    <li> podłoga z płyty mfp + 400 PLN</li>
    <li> wykładzina + 180 PLN</li>
    <li> warnik do gorących napojów o pojemności ok 6,8l. + 25 PLN/szt</li>
    <li> zastawa stolowa + 10 PLN/os</li>
    <p>
    Podane ceny są cenami netto. <p>
Transport to dodatkowy koszt 1,5 PLN netto/km (dla samochodu do 3,5T).<p>
Montaż oraz demontaż dodatkowo płatne w zależności od odległości.</ul>
  <p>
    <%= partial 'galeria/galeria_5x8' %>
  </div>

</div>





