---
title: Propozycje namiotu na uroczystość powyżej 50 osób

keywords: namiot komunijny wynajem, wynajmę namiot na komunię Warszawa, wynajem namiotów komunijnych, wypożyczalnia namiotów komunijnych, namiot komunia, tani namiot na komunię, namiot na 40 osób

description: Wynajem namiotów komunijnych Warszawa. Tanie namioty na komunie, wypożyczalnia namiotów. 
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_promocje' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <p class="lead">
      <h1> Wynajem namiotów na komunię</h1>
 <%= image_tag 'galeria/6x12/namiot_cateringowy_6x12_30.jpg', class: 'pull-right img-thumbnail' %><p>
     <h3> Zestaw Ł70. Koszt 1035 PLN netto. W skład zestawu wchodzi:</h3>
    <p>
      </p>
    <ul>
   <h5> <li> namiot cateringowy 5x10 </li>
    <li> 9 stołów 220x50cm</li>
    <li> 18 ławek 220x25cm</li>
    <li> oświetlenie 2 lampiony</li>
    </h5>
  <p>
<p>
  
  Opcjonalnie do zestawu można zamówić dodatkowo:
  <p>
    <li> zamiana na stół 245x75 lub odpowiadający +10 PLN/szt</li>
    <li> obrus biały +20 PLN/szt</li>
    <li> grill węglowy+ 50 PLN</li>
    <li> grill gazowy+ 250 PLN</li>
    <li> parasol grzewczy typu Grzybek+ 175 PLN</li>
    <li> podłoga z płyty mfp + 500 PLN</li>
    <li> wykładzina + 250 PLN</li>
    <li> warnik do gorących napojów o pojemności ok 6,8l. + 25 PLN/szt</li>
    <li> zastawa stolowa + 10 PLN/os</li>
<p>
  <p>
Podane ceny są cenami netto. <p>
Transport to dodatkowy koszt 1,5 PLN netto/km (dla samochodu do 3,5T).<p>
Montaż oraz demontaż dodatkowo płatne w zależności od odległości.
</p></ul>
  <%= image_tag 'galeria/6x12/namiot_cateringowy_6x12_31.jpg', class: 'pull-right img-thumbnail' %><p>
<p>
    <p>
<h3> Zestaw K70. Koszt 1735 PLN netto. W skład zestawu wchodzi:</h3>
    </p>
    <ul>
    <h5> <li> namiot cateringowy 6x12</li>
    <li> 9 stołów 245x75cm lub odpowiadające</li>
    <li> 9 obrusów na stoły</li>
    <li> 70 krzeseł typu Party </li>
    <li> oświetlenie 2 lampiony</li>
    </h5>
  <p>
<p>

  Opcjonalnie do zestawu można zamówić dodatkowo:
  <p>
    <li> białe pokrowce na krzesła +7 PLN/szt</li>
    <li> podłoga z płyty mfp + 720 PLN</li>
    <li> wykładzina + 360 PLN</li>
    <li> warnik do gorących napojów o pojemności ok 6,8l. + 25 PLN/szt</li>
    <li> grill węglowy+ 50 PLN</li>
    <li> grill gazowy+ 250 PLN</li>
    <li> parasol grzewczy typu Grzybek+ 175 PLN</li>
    <li> zastawa stolowa + 10 PLN/os</li>
</ul>

Podane ceny są cenami netto. <p>
Transport to dodatkowy koszt 1,5 PLN netto/km (dla samochodu do 3,5T).<p>
Montaż oraz demontaż dodatkowo płatne w zależności od odległości.
<p>
 <%= image_tag 'galeria/6x12/namiot_cateringowy_6x12_32.jpg', class: 'pull-right img-thumbnail' %><p>
<p><h3> Zestaw P70. Koszt 3495 PLN netto. W skład zestawu wchodzi:</h3>
    </p>
    <ul>
    <h5><li> Namiot cateringowy 6x12</li>
    <li> 10 stołów 245x75cm lub odpowiadających</li>
    <li> 10 obrusów na stoły</li>
    <li> 70 krzeseł bankietowych </li>
    <li> 70 białych pokrowców na krzesła </li>
    <li> podłoga </li>
    <li> wykładzina trawiasta </li>
    <li> oświetlenie </li>
    <li> warnik </li>
    <li> transport do 20 km z montażem i demontażem</li></h5>
  <p>
     Opcjonalnie do zestawu można zamówić dodatkowo:
  <p>

    <li> grill węglowy+ 50 PLN</li>
    <li> grill gazowy+ 250 PLN</li>
    <li> parasol grzewczy typu Grzybek+ 175 PLN</li>
    <li> zastawa stolowa + 10 PLN/os</li>
  <p>
Podane ceny są cenami netto. <p>
Transport to dodatkowy koszt 1,5 PLN netto/km (dla samochodu do 3,5T).<p>
Montaż oraz demontaż dodatkowo płatne w zależności od odległości.
    </ul>
<%= partial 'galeria/galeria_6x12' %>
  </div>

</div>





