---
title: Propozycje namiotu na uroczystość do 50 osób

keywords: namiot komunijny wynajem, wynajmę namiot na komunię Warszawa, wynajem namiotów komunijnych, wypożyczalnia namiotów komunijnych, namiot komunia, tani namiot na komunię, namiot na 40 osób

description: Wynajem namiotów komunijnych Warszawa. Tanie namioty na komunie, wypożyczalnia namiotów. 
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_promocje' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <p class="lead">
      <h1> Wynajem namiotów na komunię</h1>
 <%= image_tag 'galeria/5x8/namiot_cateringowy_5x8_34.jpg', class: 'pull-right img-thumbnail' %><p>
     <h3> Zestaw Ł50. Koszt 865 PLN netto. W skład zestawu wchodzi:</h3>
    <p>
      </p>
    <ul>
   <h5> <li> namiot cateringowy 5x8 </li>
    <li> 7 stołów 220x50cm</li>
    <li> 14 ławek 220x25cm</li>
    <li> oświetlenie 2 lampiony</li>
    </h5>
  <p>
<p>
  
    Opcjonalnie do zestawu można zamówić dodatkowo:
  <p>
    <li> zamiana na stół 245x75 lub odpowiadający +10 PLN/szt</li>
    <li> obrus biały +20 PLN/szt</li>
     <li> grill węglowy+ 50 PLN</li>
    <li> grill gazowy+ 250 PLN</li>
    <li> parasol grzewczy typu Grzybek+ 175 PLN</li>
    <li> podłoga z płyty mfp + 400 PLN</li>
    <li> wykładzina + 200 PLN</li>
    <li> warnik do gorących napojów o pojemności ok 6,8l. + 25 PLN/szt</li>
     <li> zastawa stolowa + 10 PLN/os</li>
<p>
  <p>
Podane ceny są cenami netto. <p>
Transport to dodatkowy koszt 1,5 PLN netto/km (dla samochodu do 3,5T).<p>
Montaż oraz demontaż dodatkowo płatne w zależności od odległości.
</p></ul>
  <%= image_tag 'galeria/5x8/namiot_cateringowy_5x8_33.jpg', class: 'pull-right img-thumbnail' %><p>
<p>
    <p>
<h3> Zestaw K50. Koszt 1235 PLN netto. W skład zestawu wchodzi:</h3>
    </p>
    <ul>
    <h5> <li> namiot cateringowy 5x8</li>
    <li> 7 stołów 245x75cm lub odpowiadające</li>
    <li> 7 obrusów na stoły</li>
    <li> 50 krzeseł typu Party</li>
    <li> oświetlenie 2 lampiony</li>
   
  <p>
<p>

  Opcjonalnie do zestawu można zamówić dodatkowo:
  <p>
    <li> białe pokrowce na krzesła +7 PLN/szt</li>
    <li> grill węglowy+ 50 PLN</li>
    <li> grill gazowy+ 250 PLN</li>
    <li> parasol grzewczy typu Grzybek+ 175 PLN</li>
    <li> podłoga z płyty mfp + 400 PLN</li>
    <li> wykładzina + 200 PLN</li>
    <li> warnik do gorących napojów o pojemności ok 6,8l. + 25 PLN/szt</li>
    <li> zastawa stolowa + 10 PLN/os</li>
    <p>
    <p>
    Podane ceny są cenami netto. <p>
Transport to dodatkowy koszt 1,5 PLN netto/km (dla samochodu do 3,5T).<p>
Montaż oraz demontaż dodatkowo płatne w zależności od odległości.</ul>
 <%= image_tag 'galeria/5x8/namiot_cateringowy_5x8_31.jpg', class: 'pull-right img-thumbnail' %><p>
<p><h3> Zestaw P50. Koszt 2610 PLN netto. W skład zestawu wchodzi:</h3>
    </p>
    <ul>
    <h5><li> Namiot cateringowy 5x10</li>
    <li> 7 stołów 245x75cm lub odpowiadające</li>
    <li> 7 obrusów na stoły</li>
    <li> 50 krzeseł bankietowych</li>
    <li> 50 białych pokrowców na krzesła </li>
    <li> podłoga </li>
    <li> wykładzina </li>
    <li> oświetlenie </li>
    <li> warnik </li>
    </h5>
  <p>
     Opcjonalnie do zestawu można zamówić dodatkowo:
  <p>

 
      <li> grill węglowy+ 50 PLN</li>
    <li> grill gazowy+ 250 PLN</li>
    <li> parasol grzewczy typu Grzybek+ 175 PLN</li>
    <li> zastawa stolowa + 10 PLN/os</li>
  <p>
Podane ceny są cenami netto. <p>
Transport to dodatkowy koszt 1,5 PLN netto/km (dla samochodu do 3,5T).<p>
Montaż oraz demontaż dodatkowo płatne w zależności od odległości powyżej 20 km.
    </ul>
<%= partial 'galeria/galeria_5x8' %>
  </div>

</div>





