---
title: Propozycje namiotu na uroczystość do 30 osób

keywords: namiot komunijny wynajem, wynajmę namiot na komunię Warszawa, wynajem namiotów komunijnych, wypożyczalnia namiotów komunijnych, namiot komunia, tani namiot na komunię, namiot na 40 osób

description: Wynajem namiotów komunijnych Warszawa. Tanie namioty na komunie, wypożyczalnia namiotów. 
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_promocje' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <p class="lead">
      <h1> Wynajem namiotów na komunię do 30 osób</h1>
<%= image_tag 'galeria/3x6/namiot_ekspresowy_3x6_34.jpg', class: 'pull-right img-thumbnail' %>
     <h3> Zestaw Ł30<p>
      <p>
    Koszt wynajmu to 600 PLN netto.</h3> 
    <p>
      <h4>W skład zestawu wchodzi:</h4>
    <p>
      </p>
    <ul>
   <h5> <li> 2 namioty ekspresowe 3x6 m z 3 pełnymi ścianami bocznymi bez okienek (2 krótkie i 1 długa) połączone w namiot 3x12 m lub 6x6 m </li>
    <li> 4 stoły 220x50cm</li>
    <li> 8 ławek 220x25cm</li></h5>
  <p>
<p>
  
  Opcjonalnie do zestawu można zamówić dodatkowo:
  <p>
    <li> zamiana na namiot 5x8 + 140 PLN</li>
    <li> namiot 3x3 biały jako dostawka +160 PLN/szt</li>
    <li> oświetlenie 2 lampiony +20 PLN </li>
    <li> zamiana na stół 245x75 +10 PLN</li>
    <li> obrus biały +20 PLN</li>
     <li> grill węglowy+ 50 PLN</li>
    <li> grill gazowy+ 250 PLN</li>
    <li> parasol grzewczy typu Grzybek+ 175 PLN</li>
    <li> podłoga z płyty mfp + 360 PLN</li>
    <li> wykładzina + 180 PLN</li>
    <li> warnik do gorących napojów o pojemności ok 6,8l. + 25 PLN</li>
    <li> zastawa stolowa + 10 PLN/os</li>
<p>
  <p>
Podane ceny są cenami netto. <p>
Transport to dodatkowy koszt 1,5 PLN netto/km (dla samochodu do 3,5T).<p>
Montaż oraz demontaż dodatkowo płatne w zależności od odległości.
</p></ul>
  <%= image_tag 'galeria/3x6/namiot_ekspresowy_3x6_33.jpg', class: 'pull-right img-thumbnail' %>
<h3> Zestaw K30. Koszt 820 PLN netto. W skład zestawu wchodzi:</h3>
    </p>
    <ul>
    <h5> <li> 2 namioty ekspresowe 3x6 m z 3 pełnymi ścianami bocznymi bez okienek (2 krótkie i 1 długa) połączone w namiot 3x12 m lub 6x6 m </li>
    <li> 4 stoły 245x75cm lub odpowiadające</li>
    <li> 4 obrusy na stoły</li>
    <li> 30 krzeseł Party</li></h5>
    
  <p>
<p>

  Opcjonalnie do zestawu można zamówić dodatkowo:
  <p>
    <li> zamiana na namiot 5x8 + 160 PLN</li>
     <li> oświetlenie 2 lampiony +20 PLN</li>
    <li> białe pokrowce na krzesła +7 PLN/szt</li>
    <li> grill węglowy+ 50 PLN</li>
    <li> grill gazowy+ 250 PLN</li>
    <li> parasol grzewczy typu Grzybek+ 175 PLN</li>
    <li> podłoga z płyty mfp + 360 PLN</li>
    <li> wykładzina + 180 PLN</li>
    <li> warnik do gorących napojów o pojemności ok 6,8l. + 25 PLN/szt</li></ul>
    <li> zastawa stolowa + 10 PLN/os</li>

    Podane ceny są cenami netto. <p>
Transport to dodatkowy koszt 1,5 PLN netto/km (dla samochodu do 3,5T).<p>
Montaż oraz demontaż dodatkowo płatne w zależności od odległości.
</p></ul>

<%= image_tag 'galeria/5x8/namiot_cateringowy_5x8_35.jpg', class: 'pull-right img-thumbnail' %>
<h3> Zestaw N30. Koszt 980 PLN netto. W skład zestawu wchodzi:</h3>
    </p>
    <ul>
    <h5> <li> namiot cateringowy 5x8 </li>
    <li> oświetlenie 2 lampiony</li>
     <li> 4 stoły 245x75cm lub odpowiadające</li>
    <li> 4 obrusy na stoły</li>
    <li> 30 krzeseł Party</li></h5>
    
  <p>
<p>

  Opcjonalnie do zestawu można zamówić dodatkowo:
  <p>
     <li> oświetlenie 2 lampiony +20 PLN</li>
    <li> białe pokrowce na krzesła +7 PLN/szt</li>
     <li> grill węglowy+ 50 PLN</li>
    <li> grill gazowy+ 250 PLN</li>
    <li> parasol grzewczy typu Grzybek+ 175 PLN</li>
    <li> podłoga z płyty mfp + 400 PLN</li>
    <li> wykładzina + 200 PLN</li>
    <li> warnik do gorących napojów o pojemności ok 6,8l. + 25 PLN/szt</li></ul>
    <li> zastawa stolowa + 10 PLN/os</li>

    Podane ceny są cenami netto. <p>
Transport to dodatkowy koszt 1,5 PLN netto/km (dla samochodu do 3,5T).<p>
Montaż oraz demontaż dodatkowo płatne w zależności od odległości.
</p></ul>

<%= image_tag 'galeria/3x6/namiot_ekspresowy_3x6_35.jpg', class: 'pull-right img-thumbnail' %>

<p><h3> Zestaw P30. Koszt 1875 PLN netto. W skład zestawu wchodzi:</h3>
    </p>
    <ul>
    <h5><li> namiot 5x8 </li>
     <li> 4 stoły 245x75cm lub odpowiadające</li>
    <li> 4 obrusy na stoły</li>
    <li> 30 krzeseł ISO</li>
    <li> 30 białych pokrowców na krzesła </li>
    <li> podłoga </li>
    <li> wykładzina trawiasta </li>
    <li> oświetlenie </li>
    <li> warnik </li>
    <li> transport do 10 km z montażem i demontażem</li></h5>
  <p>
     Opcjonalnie do zestawu można zamówić dodatkowo:
  <p>
    <li> zamiana na namiot 5x10 + 100 PLN</li>
    <li> grill węglowy+ 50 PLN</li>
    <li> grill gazowy+ 250 PLN</li>
    <li> parasol grzewczy typu Grzybek+ 175 PLN</li>
    <li> zastawa stolowa + 10 PLN/os</li>

  <p>
Podane ceny są cenami netto. <p>
Transport to dodatkowy koszt 1,5 PLN netto/km (dla samochodu do 3,5T).<p>
Montaż oraz demontaż dodatkowo płatne w zależności od odległości.
</p></ul>
<%= image_tag 'galeria/5x8/namiot_cateringowy_5x8_36.jpg', class: 'pull-right img-thumbnail' %>
<p><h3> Zestaw P30. Koszt 1750 PLN netto. W skład zestawu wchodzi:</h3>
    </p>
    
    <h5><li> namiot cateringowy 5x8</li>
     <li> 4 stoły 245x75cm lub odpowiadające</li>
    <li> 4 obrusy na stoły</li>
    <li> 30 krzeseł </li>
    <li> 30 białych pokrowców na krzesła </li>
    <li> podłoga </li>
    <li> wykładzina trawiasta </li>
    <li> oświetlenie </li>
    <li> warnik </li>
    <li> transport do 10 km z montażem i demontażem</li></h5>
  <p>
     Opcjonalnie do zestawu można zamówić dodatkowo:
  <p>

    <li> grill węglowy+ 50 PLN</li>
    <li> grill gazowy+ 250 PLN</li>
    <li> parasol grzewczy typu Grzybek+ 175 PLN</li>
    <li> zastawa stolowa + 10 PLN/os</li>

  <p>
Podane ceny są cenami netto. <p>
Transport to dodatkowy koszt 1,5 PLN netto/km (dla samochodu do 3,5T).<p>
Montaż oraz demontaż dodatkowo płatne w zależności od odległości.
    
<%= partial 'galeria/galeria_3x6' %>
  </div>

</div>





