---
title: Namiot na komunie VIP

keywords: namiot komunijny wynajem, wynajmę namiot na komunię Warszawa, wynajem namiotów komunijnych, wypożyczalnia namiotów komunijnych, namiot komunia, tani namiot na komunię, namiot na 40 osób

description: Wynajem namiotów komunijnych Warszawa. Tanie namioty na komunie, wypożyczalnia namiotów. 
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_promocje' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <p class="lead">
      <h1> Wynajem namiotów na komunię</h1>
 <%= image_tag 'galeria/5x8/namiot_cateringowy_5x8_31.jpg', class: 'pull-right img-thumbnail' %><p>
     <h3> Namiot komunijny VIP do 50 osób 2900 PLN netto.</h3>
    </p>

    <p>
    W skład zestawu wchodzi:
    </p>
    <ul>
    <li> namiot 5x10 m</li>
    <li> oświetlenie 4 lampiony dekoracyjne</li>
    <li> 7 stołów 245x75cm lub odpowiadające</li>
    <li> obrusy na stoły</li>
    <li> krzesła bankietowe</li>
    <li> białe pokrowce na krzesła</li>
    <li> grill gazowy</li>
    <li> podłoga z trawiastą wykładziną</li>
    <li> montaż oraz demontaż</li>
    <li> transport do 10 km</li>
    <li> 2 warniki do gorących napojów o pojemności 6,8l.</li>
    </ul>
<%= partial 'galeria/galeria_5x8' %>
  </div>

</div>





